.preferenceSportLiveMatchWrapper {
	background-size: cover;
	background-position: center center;
	height: 430px;
	margin: 0
}

.home-sport-live-match-container {
	width: 100%;
	display: inline-block;
	height: 100%;
	padding: 0 0
}

.home-sport-Header-Wrapper {
	padding: 15px 30px;
	height: 65px
}

.home-sport-live-tag,
.home-sport-type-tag {
	color: #fff;
	float: left;
	top: 0;
	padding: 5px 0;
	font-weight: bold;
	font-size: 18px
}

.home-sport-live-tag.livescore {
	text-transform: uppercase;
	background-color: #33c85f;
	padding: 2px 10px;
	font-size: 14px;
	border-radius: 3px;
	border-radius: 3px
}

.home-sport-live-tag.livescoregametype {
	padding: 2px 15px;
	font-size: 14px
}

.home-sport-match-selector {
	color: #fff;
	list-style: none;
	list-style-type: none;
	float: right
}

.home-sport-match-selector>li {
	float: left;
	margin: 3px 0 0 10px
}

.home-sport-match-selector>li span {
	font-size: 10px;
	cursor: pointer
}

.home-sport-match-selector>li span.activedot {
	color: #2199e8;
	display: none
}

.home-sport-match-selector>li.ui-tabs-active span.activedot {
	display: inline-block
}

.home-sport-match-selector>li.ui-tabs-active span.inactivedot {
	display: none
}

.home-sport-team-container {
	margin-top: 15px;
	padding: 0 30px
}

.home-sport-location-time.livescore {
	color: #33c85d;
	font-size: 28px;
	font-weight: bolder
}

.home-sport-team,
.home-sport-location-time {
	text-align: center;
	color: #fff;
	margin-bottom: 0
}

.home-sport-team {
	font-size: 40px;
	font-weight: bold
}

.home-sport-location-time {
	font-size: 30px;
	line-height: 32px
}

.home-sport-bet {
	text-align: center;
	color: #fff;
	margin-top: 15px
}

.home-slot-betnow {
	background-color: #33c85f;
	padding: 5px 40px;
	margin: 15px 0;
	font-weight: bold;
	font-size: 18px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer
}

.home-slot-betnow:hover {
	background-color: #42d163
}

.home-slot-betnow.livescoretag {
	position: absolute;
	bottom: 0;
	left: 31px;
	font-size: 14px
}

.home-slot-betnow,
.home-slot-betnow:hover {
	color: #fff
}

.home-sport-scheduler-container {
	display: inline-block;
	padding-left: 20px;
	position: relative
}

.home-sport-scheduler-container.livescorecontainertag {
	position: absolute;
	bottom: 15px;
	right: 31px
}

.home-sport-scheduler-container>a,
.home-sport-scheduler-container>a:hover {
	color: #fff
}

.home-sport-bet-icon {
	font-size: 30px;
	position: absolute
}

.home-sport-bet-icon.live-score-betradar-icon {
	font-size: 25px
}

.home-sport-schedule {
	font-size: 18px;
	font-weight: bold;
	padding-left: 32px
}

.home-sport-schedule.betradar-texting {
	font-size: 15px
}

.sub-banner-arrow {
	position: absolute;
	top: 35%;
	width: 100%
}

.sub-banner-arrow {
	position: absolute;
	top: 35%;
	width: 100%
}

.sub-banner-arrow>.slick-prev {
	float: left;
	margin-left: 4px
}

.sub-banner-arrow>.slick-next {
	float: right;
	margin-right: 4px
}

.sub-banner-arrow>button>span {
	font-size: 90px;
	color: #fff
}

.sub-slick-dots>li {
	display: inline-block
}

.sub-banner-paging>ul {
	text-align: center;
	position: absolute;
	width: 100%;
	margin: auto;
	bottom: 0;
	margin-bottom: 10px
}

.sub-banner-paging>ul>li {
	display: inline-block;
	padding: 0 5px
}

.sub-banner-paging>ul>li>span {
	color: #fff;
	cursor: pointer
}

.slick-dots>li>span.activedot {
	display: none
}

.slick-dots>li.slick-active>span.activedot {
	display: inline-block;
	color: #3f97ff!important
}

.slick-dots>li.slick-active>span.inactivedot {
	display: none!important
}

.mobileImage {
	display: none
}

.desktopImage {
	display: block
}

@media(max-width:1650px) {
	.preferenceSportLiveMatchWrapper {
		height: 370px
	}
	.home-sport-location-time {
		font-size: 23px
	}
	.home-sport-team {
		font-size: 30px
	}
	.home-slot-betnow {
		font-size: 20px
	}
	.home-sport-bet-icon {}
	.home-sport-schedule {
		font-size: 20px
	}
}

@media(max-width:1499px) {
	.preferenceSportLiveMatchWrapper {
		height: 330px
	}
	.home-sport-location-time {
		font-size: 20px
	}
	.home-sport-team {
		font-size: 30px
	}
	.home-slot-betnow {
		font-size: 18px
	}
	.home-sport-bet-icon {}
	.home-sport-schedule {
		font-size: 18px
	}
}

@media(max-width:1250px) {
	.preferenceSportLiveMatchWrapper {
		height: 290px
	}
	.home-sport-team-container {
		margin-top: 0;
		padding: 0 20px
	}
	.home-sport-location-time {
		font-size: 15px
	}
	.home-sport-team {
		font-size: 25px
	}
	.home-slot-betnow {
		font-size: 15px;
		padding: 5px 30px
	}
	.home-sport-bet-icon {
		font-size: 25px
	}
	.home-sport-schedule {
		font-size: 15px;
		padding-left: 28px
	}
}

@media(max-width:1100px) {
	.preferenceSportLiveMatchWrapper {
		height: 290px
	}
	.home-sport-team-container {
		margin-top: 0
	}
	.home-sport-location-time {
		font-size: 15px
	}
	.home-sport-team {
		font-size: 25px
	}
	.home-slot-betnow {
		font-size: 15px
	}
	.home-sport-bet-icon {
		font-size: 25px
	}
	.home-sport-schedule {
		font-size: 15px;
		padding-left: 28px
	}
}

@media only screen and (max-width:1024px) and (min-width:800px) {
	.mobileImage {
		height: 400px;
		display: block
	}
	.desktopImage {
		height: 400px;
		display: none
	}
	.preferenceSportLiveMatchWrapper {
		height: 400px!important
	}
}

@media(max-width:480px) {
	.preferenceSportLiveMatchWrapper {
		height: 230px
	}
	.home-sport-live-tag,
	.home-sport-type-tag {
		font-size: 14px
	}
	.home-sport-live-match-container {
		padding: 0 0
	}
	.home-sport-team-container {
		margin-top: 0;
		padding: 0 10px
	}
	.home-sport-location-time {
		font-size: 13px
	}
	.home-sport-team {
		font-size: 23px
	}
	.home-slot-betnow {
		font-size: 15px
	}
	.home-sport-bet-icon {
		font-size: 25px
	}
	.home-sport-schedule {
		font-size: 15px;
		padding-left: 28px
	}
}

@media only screen and (max-width:420px) {
	.mobileImage {
		display: block
	}
	.desktopImage {
		display: none
	}
}

@media(max-width:400px) {
	.preferenceSportLiveMatchWrapper {
		height: auto;
	}
	.home-sport-live-tag,
	.home-sport-type-tag {
		font-size: 12px;
		padding: 3px 0
	}
	.home-sport-Header-Wrapper {
		padding: 10px 10px;
		height: 50px
	}
	.home-sport-live-match-container {
		padding: 0 0
	}
	.home-sport-match-selector>li {
		margin-top: 0
	}
	.home-sport-match-selector>li span {
		font-size: 8px
	}
	.home-sport-team-container {
		margin-top: 10px
	}
	.home-sport-location-time {
		font-size: 10px
	}
	.home-sport-team {
		font-size: 16px
	}
	.home-sport-bet {
		margin-top: 10px
	}
	.home-slot-betnow {
		font-size: 12px;
		padding: 5px 25px;
		min-width: 80px
	}
	.home-sport-bet-icon {
		font-size: 22px
	}
	.home-sport-schedule {
		font-size: 12px;
		padding-left: 25px
	}
}

.game-wrapper {
	position: relative
}

.home-game-image-wrapper {
	position: relative;
	cursor: pointer
}

.home-game-wrapper>div:nth-child(1)>.game-wrapper {
	margin-right: 6px
}

.home-game-wrapper>div:nth-child(2)>.game-wrapper {
	margin: 0 3px
}

.home-game-wrapper>div:nth-child(3)>.game-wrapper {
	margin-left: 6px
}

.home-game-wrapper>div:nth-child(4)>.game-wrapper {
	margin-right: 6px
}

.home-game-wrapper>div:nth-child(5)>.game-wrapper {
	margin: 0 3px
}

.home-game-wrapper>div:nth-child(6)>.game-wrapper {
	margin-left: 6px
}

.home-game-wrapper.ByTwo>div:nth-child(1)>.game-wrapper {
	margin: 0 3px 0 0
}

.home-game-wrapper.ByTwo>div:nth-child(2)>.game-wrapper {
	margin: 0 0 0 3px
}

.home-game-wrapper.ByTwo>div:nth-child(3)>.game-wrapper {
	margin: 0 3px 0 0
}

.home-game-wrapper.ByTwo>div:nth-child(4)>.game-wrapper {
	margin: 0 0 0 3px
}

.home-game-wrapper.ByFour>div:nth-child(1)>.game-wrapper {
	margin: 0 6px 0 0
}

.home-game-wrapper.ByFour>div:nth-child(2)>.game-wrapper {
	margin: 0 6px 0 6px
}

.home-game-wrapper.ByFour>div:nth-child(3)>.game-wrapper {
	margin: 0 6px 0 6px
}

.home-game-wrapper.ByFour>div:nth-child(4)>.game-wrapper {
	margin: 0 0 0 6px
}

.home-game-column.slick-slide {
	padding: 0 6px
}

.game-image {
	transform: scale(.5)
}

.game-image.Loaded {
	transform: none
}

.game-image {
	position: relative;
	-webkit-transition: -webkit-transform .8s ease;
	-moz-transition: -moz-transform .8s ease;
	-o-transition: -o-transform .8s ease;
	transition: transform .8s ease;
	border-radius: 1px;
	width: 100%
}

.game-image.scale {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05)
}

.game-new-tag {
	background-color: #33c85d;
	color: #fff;
	font-size: 8px;
	font-weight: bolder;
	text-transform: uppercase;
	padding: 2px;
	border-radius: 3px;
	margin-right: 5px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle
}

.game-new-tag.close {
	display: none
}

.play-button-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	cursor: pointer;
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2
}

.play-button-wrapper>.play-button {
	margin: auto
}

.gamespinner {
	-webkit-animation: spin .3s linear;
	-moz-animation: spin .3s linear;
	animation: spin .3s linear;
	animation-fill-mode: forwards
}

.gamespinner,
.gameplay {
	display: none;
	position: absolute
}

.gamespinner,
.gameplay,
.play-button-wrapper {
	width: 50px;
	height: 50px
}

.gamespinner.block,
.gameplay.block {
	display: block
}

.home-game-vendor-logo {
	top: 5px;
	left: 5px;
	border-radius: 26px;
	width: 25px;
	height: 25px;
	font-size: 8px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 25px;
	position: absolute;
	color: #fff
}

.home-game-vendor-logo.OPUS {
	background: #e4a700
}

.home-game-vendor-logo.SAL {
	background: #5657a7
}

.home-game-vendor-logo.GDL {
	background: #00693d
}

.home-game-vendor-logo.TGP,
.home-game-vendor-logo.TGP_SLOT {
	background: #ab4505
}

.home-game-vendor-logo.AG {
	background: #f56205
}

.home-game-vendor-logo.BOY {
	background: #e72d00
}

.home-game-vendor-logo.ABT {
	background: #00bda9
}

.home-game-vendor-logo.EA {
	background: #b2140b
}

.home-game-vendor-logo.CQG {
	background: #fe9900
}

.home-game-vendor-logo.BSG {
	background: #c79906
}

.home-game-vendor-logo.MGSQF {
	background: #03ad1f
}

.home-game-vendor-logo.TG {
	background: #f20000
}

.home-game-vendor-logo.IWG {
	background: #003b8d
}

.home-game-vendor-logo.SWF {
	background: #a2ef00
}

.home-game-vendor-logo.PT {
	background: #23aee1
}

.home-game-vendor-logo.LX {
	background: #984ee4
}

.home-game-info {
	margin: 5px 0 0
}

.home-game-Name {
	font-size: 15px;
	color: #2c2c2c;
	margin: 0;
	text-align: left;
	display: inline-block
}

.home-game-demo {
	color: #2199e8;
	margin: 0;
	display: inline-block;
	float: right;
	font-weight: bold;
	display: none;
	cursor: pointer;
	line-height: 24px
}

.home-game-demo:hover {
	color: #1585cf
}

.home-game-vendor {
	font-size: 12px;
	color: crimson;
	margin: 0;
	text-align: left
}

.home-game-category {
	font-size: 12px;
	color: #8e8e8e;
	margin: 0;
	text-align: left
}

.preference-slot-view-all {
	display: inline-block;
	float: right;
	margin-right: 0
}

.last-play-message-wrapper {
	height: 150px
}

.No-last-play-message-wrapper {
	height: 220px
}

.last-play-message-wrapper>table,
.No-last-play-message-wrapper>table {
	margin: 0;
	height: 100%
}

.last-play-message-wrapper>table>tbody,
.No-last-play-message-wrapper>table>tbody {
	border: 0
}

.last-play-message-wrapper>table>tbody>tr>td,
.No-last-play-message-wrapper>table>tbody>tr>td {
	padding: 0;
	text-align: center;
	font-size: 30px
}

.live-casino-filter-wrapper {
	display: inline-block
}

.home-game-select {
	color: #3f97ff;
	display: inline-block;
	width: 150px!important;
	border: 0;
	border-bottom: 1px solid #3f97ff;
	margin: 0;
	padding: 0 25px 0 10px;
	font-size: 18px;
	height: auto
}

.home-game-select>option {
	font-size: 16px
}

.home-game-casino-loading {
	background: #dcdcdc;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	opacity: .5;
	display: none
}

.home-game-casino-loading>img {
	width: 30px;
	height: 30px;
	top: calc(55% - 45px);
	left: calc(50% - 25px);
	position: absolute
}

.home-preference-icon {
	font-size: 25px;
	margin-right: 15px;
	float: left;
	position: relative;
	top: 2px
}

@media only screen and (min-width:320px) {
	.home-game-Name,
	.home-game-demo {
		font-size: 12px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 10px
	}
	.last-play-message-wrapper {
		height: auto;
		padding: 15px 0
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 16px
	}
	.home-game-select {
		font-size: 12px!important;
		width: 120px!important;
		padding: 0 18px 0 0
	}
	.home-game-select>option {
		font-size: 12px
	}
	.home-game-select.short {
		width: 75px
	}
}

@media only screen and (min-width:400px) {
	.home-game-Name,
	.home-game-demo {
		font-size: 14px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 12px
	}
	.last-play-message-wrapper {
		height: auto;
		padding: 20px 0
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 18px
	}
	.home-game-select {
		font-size: 14px!important;
		width: 120px!important;
		padding: 0 18px 0 0
	}
	.home-game-select>option {
		font-size: 14px
	}
	.home-game-select.short {
		width: 75px
	}
}

@media only screen and (min-width:480px) {
	.home-game-Name,
	.home-game-demo {
		font-size: 12px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 10px
	}
	.home-game-vendor-logo {
		border-radius: 25px;
		width: 25px;
		height: 25px;
		font-size: 8px;
		line-height: 25px
	}
	.last-play-message-wrapper {
		height: auto;
		padding: 15px 0
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 18px
	}
	.home-game-select {
		font-size: 16px!important;
		width: 140px!important;
		padding: 0 18px 0 0
	}
	.home-game-select>option {
		font-size: 16px
	}
	.home-game-select.short {
		width: 100px
	}
}

@media only screen and (min-width:600px) {
	.home-game-Name,
	.home-game-demo {
		font-size: 13px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 11px
	}
	.home-game-vendor-logo {
		border-radius: 28px;
		width: 28px;
		height: 28px;
		font-size: 10px;
		line-height: 28px
	}
	.last-play-message-wrapper {
		height: auto;
		padding: 20px 0
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 22px
	}
	.home-game-select {
		font-size: 16px!important;
		width: 160px!important;
		padding: 0 18px 0 0
	}
	.home-game-select>option {
		font-size: 16px
	}
	.home-game-select.short {
		width: 120px
	}
}

@media only screen and (min-width:750px) {
	.home-game-Name,
	.home-game-demo {
		font-size: 16px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 13px
	}
	.last-play-message-wrapper {
		height: auto;
		padding: 25px 0
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 24px
	}
}

@media only screen and (min-width:800px) {
	.home-game-Name,
	.home-game-demo {
		font-size: 12px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 10px
	}
	.home-game-vendor-logo {
		border-radius: 25px;
		width: 25px;
		height: 25px;
		font-size: 8px;
		line-height: 25px
	}
	.last-play-message-wrapper {
		height: auto;
		padding: 25px 0
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 24px
	}
	.home-game-select {
		font-size: 16px!important;
		width: 200px!important;
		padding: 0 18px 0 0
	}
	.home-game-select>option {
		font-size: 16px
	}
	.home-game-select.short {
		width: 150px
	}
}

@media only screen and (min-width:900px) {
	.home-game-Name,
	.home-game-demo {
		font-size: 13px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 11px
	}
	.home-game-vendor-logo {
		border-radius: 28px;
		width: 28px;
		height: 28px;
		font-size: 10px;
		line-height: 28px
	}
	.last-play-message-wrapper {
		height: auto;
		padding: 25px 0
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 28px
	}
}

@media only screen and (min-width:1024px) {
	.game-image {
		height: 110px
	}
	.game-image.small {
		height: 100px
	}
	.game-image.big {
		height: 130px
	}
	.home-game-info {
		margin: 1px 0 10px;
		height: 40px
	}
	.home-game-Name,
	.home-game-demo {
		font-size: 10px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 8px
	}
	.home-game-info-type {
		line-height: 10px
	}
	.last-play-message-wrapper {
		height: 110px
	}
	.No-last-play-message-wrapper {
		height: 160px
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 20px
	}
	.home-game-vendor-logo {
		border-radius: 24px;
		width: 24px;
		height: 24px;
		font-size: 8px;
		line-height: 24px
	}
	.home-game-select {
		font-size: 14px!important;
		width: 140px!important;
		padding: 0 18px 0 10px
	}
	.home-game-select>option {
		font-size: 14px
	}
	.home-game-select.short {
		width: 100px
	}
}

@media only screen and (min-width:1101px) {
	.game-image {
		height: 120px
	}
	.game-image.small {
		height: 100px
	}
	.game-image.big {
		height: 140px
	}
	.home-game-info {
		margin: 5px 0 5px;
		height: 40px
	}
	.home-game-Name,
	.home-game-demo {
		font-size: 12px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 9px
	}
	.home-game-info-type {
		line-height: 10px
	}
	.gamespinner,
	.gameplay,
	.play-button-wrapper {
		width: 50px;
		height: 50px
	}
	.last-play-message-wrapper {
		height: 120px
	}
	.No-last-play-message-wrapper {
		height: 170px
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 22px
	}
	.home-game-select {
		font-size: 15px!important;
		width: 160px!important;
		padding: 0 18px 0 10px
	}
	.home-game-select>option {
		font-size: 15px
	}
	.home-game-select.short {
		width: 120px
	}
}

@media only screen and (min-width:1251px) {
	.game-image {
		height: 135px
	}
	.game-image.small {
		height: 120px
	}
	.game-image.big {
		height: 155px
	}
	.home-game-Name,
	.home-game-demo {
		font-size: 13px
	}
	.home-game-info-type {
		line-height: 16px
	}
	.home-game-info {
		margin: 5px 0 10px;
		height: 45px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 11px
	}
	.gamespinner,
	.gameplay,
	.play-button-wrapper {
		width: 55px;
		height: 55px
	}
	.last-play-message-wrapper {
		height: 135px
	}
	.No-last-play-message-wrapper {
		height: 195px
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 24px
	}
	.home-game-select {
		font-size: 15px!important;
		width: 160px!important;
		padding: 0 18px 0 10px
	}
	.home-game-select>option {
		font-size: 15px
	}
	.home-game-select.short {
		width: 120px
	}
}

@media only screen and (min-width:1500px) {
	.game-new-tag {
		margin-right: 0
	}
	.home-game-Name,
	.home-game-demo {
		font-size: 14px
	}
	.home-game-category,
	.home-game-vendor {
		font-size: 12px
	}
	.home-game-info-type {
		line-height: 22px
	}
	.game-image {
		height: 150px
	}
	.game-image.small {
		height: 125px
	}
	.game-image.big {
		height: 185px
	}
	.home-game-info {
		margin: 5px 0 20px
	}
	.last-play-message-wrapper {
		height: 150px
	}
	.No-last-play-message-wrapper {
		height: 220px
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 26px
	}
	.home-game-vendor-logo {
		border-radius: 31px;
		width: 31px;
		height: 31px;
		font-size: 10px;
		line-height: 31px
	}
	.home-game-select {
		font-size: 16px!important;
		width: 200px!important;
		padding: 0 18px 0 10px
	}
	.home-game-select>option {
		font-size: 16px
	}
	.home-game-select.short {
		width: 150px
	}
}

@media only screen and (min-width:1651px) {
	.game-image {
		height: 180px
	}
	.game-image.small {
		height: 140px
	}
	.game-image.big {
		height: 200px
	}
	.last-play-message-wrapper {
		height: 180px
	}
	.No-last-play-message-wrapper {
		height: 250px
	}
	.last-play-message-wrapper>table>tbody>tr>td,
	.No-last-play-message-wrapper>table>tbody>tr>td {
		font-size: 30px
	}
	.home-game-select {
		font-size: 16px!important;
		width: 200px!important;
		padding: 0 18px 0 10px
	}
	.home-game-select>option {
		font-size: 16px
	}
	.home-game-select.short {
		width: 150px
	}
	.home-game-vendor-logo {
		border-radius: 26px;
		width: 26px;
		height: 26px;
		font-size: 9px;
		line-height: 26px
	}
}

.promotion-tab-wrapper {
	padding: 0
}

.promotion-tab-title {
	font-weight: bold;
	color: #2c2c2c
}

.promotion-tab-wrapper {
	margin: 0
}

.promotion-tab-wrapper table {
	margin: 0
}

.promotion-tab-wrapper table>tbody {
	border: 0
}

.promotion-tab-title-logo {
	padding: 0;
	text-align: center;
	width: 60px;
	padding: 0 10px!important
}

.promotion-tab-title-logo>img {
	max-width: none;
	width: 70px
}

.promotion-tab-title-logo>span {
	font-size: 55px
}

.promotion-tab-title-wrapper {
	padding: 0 0 0 15px;
	width: 100%
}

.promotion-tab-title-wrapper>div {
	display: inline-block
}

.promotion-tab-title-wrapper>div>a {
	font-weight: bold;
	font-size: 17px;
	color: #2c2c2c;
	display: block
}

.promotion-tab-title-wrapper>div>a:hover {
	color: #2c2c2c
}

.promotion-table {
	height: 340px
}

.promotion-table>tbody>tr {
	background-color: #fff!important
}

.promotion-table>tbody>tr>td {
	padding: 0
}

.promotion-table>tbody>tr>td>hr {
	margin: 0
}

@media(max-width:1400px) {
	.promotion-table {
		height: 320px
	}
}

@media(max-width:1250px) {
	.promotion-table {
		height: 280px
	}
	.promotion-tab-title-wrapper>div>a {
		font-size: 15px
	}
}

@media(max-width:1023px) {}

@media(max-width:960px) {}

@media(max-width:640px) {
	.promotion-tab-title-wrapper>div>h7 {
		font-size: 14px
	}
	.promotion-tab-wrapper table {
		margin: 0 10px
	}
}

@media(max-width:480px) {
	.promotion-tab-wrapper table {
		margin: 0 10px
	}
}

@media(max-width:400px) {
	.promotion-tab-title-logo>span {
		font-size: 55px
	}
	.promotion-tab-title-wrapper>div>a {
		font-size: 14px
	}
	.promotion-table {
		height: 300px
	}
}

.bliss-article-table {
	margin: 0
}

.bliss-article-Detail-Table {
	margin: 0;
	height: 330px
}

.bliss-article-table>tbody,
.bliss-article-Detail-Table>tbody {
	border: none
}

.bliss-article-table>tbody>tr,
.bliss-article-Detail-Table>tbody>tr {
	background-color: #fff!important
}

.bliss-article-Detail-Table>tbody>tr {
	height: 33%
}

.bliss-article-Detail-Table>tbody>tr:first-child {
	border-bottom: 1px solid #dcdcdc
}

.bliss-article-Detail-Table>tbody>tr:last-child {
	border-top: 1px solid #dcdcdc
}

.bliss-article-table>tbody>tr>td,
.bliss-article-Detail-Table>tbody>tr>td {
	padding: 0
}

.bliss-article-table>tbody>tr>td>hr,
.bliss-article-Detail-Table>tbody>tr>td>hr {
	margin: 0
}

.bliss-article-title {
	font-size: 17px;
	font-weight: bold;
	margin: 0;
	text-align: justify
}

.bliss-article-description {
	margin: 0;
	color: #8e8e8e;
	display: block;
	display: -webkit-box;
	margin: 0 auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify
}

.bliss-article-selector {
	list-style: none;
	list-style-type: none;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 0;
	padding: 0
}

.bliss-article-selector>li {
	float: left;
	margin-left: 8px
}

.bliss-article-selector>li>span {
	font-size: 10px;
	color: #dcdcdc;
	cursor: pointer
}

.bliss-article-selector>li>span.BlissArticleInactiveDots {
	color: #dcdcdc
}

.bliss-article-selector>li>span.BlissArticleActiveDots {
	color: #2199e8
}

.BlissArticleCategoryTitle {
	display: none
}

@media(max-width:1250px) {
	.bliss-article-title {
		font-size: 15px
	}
	.bliss-article-description {
		font-size: 12px
	}
}

@media(max-width:1150px) {
	.bliss-article-title {
		font-size: 14px
	}
	.bliss-article-description {
		font-size: 11px
	}
	.bliss-article-Detail-Table {
		height: 260px
	}
}
@media only screen and (max-width:1023px) {
 #wrapper4{
 	padding-top:150px; 
 }
}


@media only screen and (max-width:1023px) {
	.bliss-article-Detail-Table {
		height: 240px
	}
	.bliss-article-title {
		font-size: 16px
	}
	.bliss-article-description {
		font-size: 14px
	}
	#bliss-tab-title {
		display: none
	}
	.bliss-article-selector {
		position: relative;
		display: table;
		width: 100%;
		table-layout: fixed;
		padding-top: 100px;
	}
	.bliss-article-selector>li {
		float: none;
		margin: 0;
		display: table-cell;
		text-align: center
	}
	.bliss-article-selector>li>span {
		font-size: 10px;
		color: #dcdcdc;
		cursor: pointer
	}
	.bliss-article-selector>li>span.BlissArticleInactiveDots {
		display: none!important
	}
	.bliss-article-selector>li>span.BlissArticleActiveDots {
		display: none!important
	}
	.bliss-article-selector>li>span.BlissArticleCategoryTitle {
		font-size: 16px;
		color: #000;
		cursor: pointer;
		display: block;
		padding: 10px 0;
		font-weight: bold;
		background-color: #f3f3f3;
		border: 1px solid #dcdcdc;
		display: block!important;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden
	}
	.bliss-article-selector>li>span.BlissArticleCategoryTitle.active {
		background-color: #fff;
		border: 1px solid #3f97ff;
		border-bottom: 0!important
	}
	.bliss-article-selector>li>span.BlissArticleCategoryTitle.left {
		border-left: 0!important
	}
	.bliss-article-selector>li>span.BlissArticleCategoryTitle.right {
		border-right: 0!important
	}
}

@media only screen and (max-width:639px) {
	.bliss-article-tab-wrapper {
		padding: 0 10px
	}
}

@media only screen and (max-width:480px) {
	.bliss-article-selector>li>span.BlissArticleCategoryTitle {
		font-size: 14px
	}
	.bliss-article-table,
	.bliss-article-Detail-Table {
		height: 300px
	}
	.bliss-article-title {
		font-size: 14px
	}
	.bliss-article-description {
		font-size: 12px
	}
}

@media only screen and (max-width:400px) {
	.bliss-article-selector>li>span.BlissArticleCategoryTitle {
		font-size: 12px
	}
	.bliss-article-table,
	.bliss-article-Detail-Table {
		height: 300px
	}
	.bliss-article-title {
		font-size: 14px
	}
	.bliss-article-description {
		font-size: 12px
	}
}

.roadMapWrapper {
	padding: 0 20px;
	background-color: #f3f3f3
}

.home-barracat-roadmap-game {
	padding: 15px 0
}

.roadMapTable {
	table-layout: fixed;
	margin: 10px 0
}

.roadMapTable>tbody>tr {
	background-color: #fff!important
}

.roadMapTable>tbody>tr>td>div {
	height: 35px;
	border: 1px solid #dcdcdc;
	text-align: center
}

.roadMapTable>tbody>tr>td {
	padding: 0;
	text-align: center
}

.roadmap-game-title {
	margin: 0;
	font-weight: bold
}

.roadmap-game-vendor {
	font-size: 12px;
	margin: 0;
	color: #3f97ff
}

.home-baccarat-play-button-wrapper {
	text-align: right
}

.home-baccarat-play-button {
	cursor: pointer;
	padding: 5px 15px;
	color: #fff;
	background-color: #C82333;
	border-radius: 3px;
	font-weight: bold;
	font-size: 15px;
	margin-right: 20px
}

#home-baccarat-radio-button>span {
	padding: 0 3px;
	cursor: pointer
}

#home-baccarat-radio-button>.baccaratActiveRadioButton {
	color: #2199e8
}

#home-baccarat-radio-button>.baccaratInactiveRadioButton {
	color: #dcdcdc
}

.home-baccarat-roadmap-container {
	margin-top: 15px
}

.home-baccarat-selector {
	list-style: none;
	list-style-type: none;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 5px
}

.home-baccarat-selector>li {
	float: left;
	margin-left: 8px
}

.home-baccarat-selector>li>span {
	font-size: 10px;
	color: #dcdcdc;
	cursor: pointer
}

.home-baccarat-selector>li>span.baccaratInactiveRadioButton {
	color: #dcdcdc
}

.home-baccarat-selector>li>span.baccaratActiveRadioButton {
	color: #2199e8
}