.CopyBtn {
	border-radius: 5px;
	width: 50px;
	display: inline-block;
	background-color: #3f97ff;
	border: none;
	text-decoration: none;
	height: 35px;
	color: #fff;
	font-weight: bold
}

.NextStepBtn {
	border-radius: 5px;
	width: 100px;
	display: inline-block;
	background-color: #3f97ff;
	border: none;
	text-decoration: none;
	height: 35px;
	color: #fff;
	font-weight: bold
}

#oldAccountFillUp,
.howtoDeposit {
	color: #3f97ff;
	cursor: pointer
}

.panelTwoField {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 2.4375rem;
	padding: .5rem;
	border: 1px solid #cacaca;
	margin: 0 0 1rem;
	font-family: inherit;
	font-size: 1rem;
	color: #0a0a0a;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, .1);
	border-radius: 0;
	transition: box-shadow .5s, border-color .25s ease-in-out;
	-webkit-appearance: none;
	background-color: #e6e6e6
}

.BtnCancel {
	padding: 4px 10px;
	border-radius: 5px;
	font-weight: bold;
	border: #032963 2px solid;
	margin-right: 10px;
	display: inline-block
}

.BtnSubmit {
	color: #fff;
	background-color: #032963;
	padding: 4px 10px;
	border-radius: 5px;
	font-weight: bold;
	border: #032963 2px solid;
}

.reminderDesktop,
#charges_QQ_lbl,
#charges_QQ_lbl_Mobile {
	display: none!important
}

.reminderMobile {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block!important
}

.reminderQQDesktop ol,
.reminderQQMobile ol {
	list-style-type: none;
	margin-bottom: 0
}

.reminderQQDesktop ul,
.reminderQQMobile ul {
	list-style-type: none;
	margin: 0 0 0 10px
}

#btnPreferredField,
#btnNewField {
	margin-top: 10px;
	margin-bottom: 10px
}

#paymentMethodSlider {
	margin-top: 40px
}

#paymentMethodSlider .slick-prev {
	position: absolute;
	left: 0;
	font-size: 23px;
	color: #8e8e8e
}

#paymentMethodSlider .slick-next {
	position: absolute;
	right: 0;
	font-size: 23px;
	color: #8e8e8e
}

#paymentMethodSlider .slick-list {
	width: 96%;
	margin: auto
}

#modifyDropdownArrow {
	float: right;
	color: #8a8a8a;
	font-size: 5px;
	margin-top: 11px;
	margin-right: -5px
}

.BtnCancel {
	color: #000;
	background-color: transparent
}

a:hover.financeActive .hide-mobile {
	color: #25aae1
}

a:hover .hide-mobile {
	color: #2c2c2c
}

.btnGroup {
	margin: 40px 0;
	padding: 0
}

.Rules {
	margin: 20px 20px 0 20px
}

.form-wrapper {
	margin: 40px 0 0 0
}

.form-field>span,
.form-field>input {
	vertical-align: -webkit-baseline-middle
}

.form-field .input-field input,
.form-field select {
	border-radius: 5px
}

.form-field>select {
	height: 40px
}

#btn_attachment {
	border-radius: 5px;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 34px;
	border-top-left-radius: 5px
}

.informationIcon {
	color: #2199e8;
	margin-top: 10px;
	float: right;
	font-size: 18px
}

.no-padding {
	padding: 0!important
}

select.BankAccountDDL option {
	background-color: #fff
}

.financeActive {
	border: 1px solid #94c8fd;
	border-bottom: 1px solid #fff;
	padding: 0;
	color: #25aae1!important;
	cursor: pointer
}

.financeType {
	border: 1px solid #dcdcdc;
	padding: 0;
	color: #2c2c2c;
	cursor: pointer
}
.financeType:hover {
	background-color: #154c51;
	color: #fff;
}

.financeTypeEmpty {
	border-bottom: 1px solid #dcdcdc;
	height: 47px
}

.reminder {
	margin: 0 0 0 24px
}

.reminder-title {
	font-size: 16px;
	color: #25aae1;
	font-weight: bold
}

.reminder-QQ-title {
	margin-left: 17px
}

.reminder-content {
	color: #8e8e8e
}

.reminder-WeChat-content {
	margin-left: 0
}

.deposit-step {
	border-bottom: 1px solid #dcdcdc;
	margin-top: 35px
}

.localbank-step-button {
	position: absolute;
	top: -10px;
	cursor: pointer
}

.localbank-step-button.one {
	left: 32%
}

.localbank-step-button.two {
	right: 32%
}

.step-wording {
	font-weight: bolder;
	color: #c4c4c4
}

.step-wording.active {
	color: #25aae1
}

.holder-step {
	margin-bottom: 5px
}

.step-one-localbank-new {
	background-color: #fff;
	border: 2px solid #c4c4c4;
	color: #c4c4c4;
	padding: 2px 8px;
	border-radius: 19px;
	vertical-align: middle;
	margin-left: -10px;
	font-weight: bolder
}

.step-one-localbank-new.active {
	background-color: #25aae1;
	border: 2px solid #25aae1;
	color: #fff
}

.deposit-step>div,
input+label {
	color: #2c2c2c;
	font-size: 14px
}

.deposit-step-title {
	margin: 0 0 20px 36px
}

.depositMethodOptions {
	display: block;
	margin-left: 36px
}

.depositMethodOptions>input {
	vertical-align: top;
	display: inline-block;
	margin-top: 6px
}

.depositMethodOptions>label {
	width: 85%;
	display: inline-block
}

#help {
	font-size: 14px;
	color: #3f97ff;
	margin-left: 20px;
	cursor: pointer
}

.remove-right-padding {
	padding-right: 0
}

.withdrawal_eligible {
	margin-top: 10px
}

.ProceedButton,
.account-details {
	margin: 20px auto 35px 36px
}

.account-details,
.transactionDetails {
	display: none
}

.transactionDetails {
	margin-left: 36px
}

.ProceedButton>span {
	padding: 15px 0;
	margin: auto 0;
	border: 1px solid #033681;
	background-color: #fff;
	font-size: 16px;
	border-radius: 5px;
	display: block;
	cursor: pointer;
	width: 300px;
	text-align: center
}

.ProceedButton>span:hover {
	color: #fff;
	background-color: #032963
}

.process-status {
	float: left
}

.account-details-desc {
	font-size: 14px;
	color: #2c2c2c;
	margin: 0 0 10px 36px
}

.account-details-desc-2 {
	font-size: 14px;
	color: #2c2c2c;
	margin: 0 0 10px 0
}

.account-details-table td:first-child {
	width: 190px;
	padding-left: 0
}

.account-details-table {
	font-size: 13px
}

.account-details-table tbody {
	border: none
}

.account-details-table tr td:nth-child(2) {
	width: 33%
}

.account-details-table.cn tr td:nth-child(2) {
	width: 46%
}

.account-details-table tr td:nth-child(3) {
	width: 48%
}

.account-details-table.cn tr td:nth-child(3) {
	width: 20%
}

#chaseDepositButton {
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	background-color: #25aae1;
	border-radius: 5px;
	cursor: pointer
}

.LB_inProgress {
	color: #33c85d;
	font-size: 30px;
	margin: 20px auto 30px;
	display: block
}

#stepOneTick,
#stepTwoTick,
#stepThreeTick {
	color: #33c85d;
	font-size: 22px;
	font-weight: bold
}

#successTick {
	color: #33c85d;
	font-size: 100px
}

.Deposit_alliedwallet {
	display: block!important
}

.form-field .input-field input {
	height: 40px;
	width: 97%
}

.form-field select {
	height: 40px;
	width: 97%
}

.form-field input[type=radio] {
	width: auto;
	height: auto
}

#frWalletOption,
#toWalletOption {
	padding: 0
}

.walletAmount {
	margin-right: 5px
}

#frWalletOption .walletName,
#toWalletOption .walletName {
	width: auto;
	float: left
}

.form-field {
	font-size: 14px;
	color: #2c2c2c;
	padding-left: 0
}

.input-contact {
	width: 70%!important;
	float: left
}

@media screen and (min-width:400px) {
	.input-contact {
		width: 80%;
		float: left
	}
}

.input-field {
	display: block
}

.form-field .input-field input,
.input-field select,
.input-field>button {
	width: 97%;
	display: inline-block
}

#editContact {
	position: relative;
	cursor: pointer
}

#verificationCode {
	width: 40%
}

#verificationPanel,
.verificationPanel {
	display: none
}

.input-field span {
	font-size: 15px;
	display: inline-block
}

#preferOld,
#btnPreferred {
	cursor: pointer;
	color: #2199e8;
	font-size: 14px
}

#btnNew,
#createNew {
	cursor: pointer;
	color: #2199e8;
	font-size: 14px
}

#createNew,
#preferOld {
	margin-bottom: 10px;
	margin-left: 10px
}

.hide_THB,
.hide_VND {
	display: none!important
}

.hide_Ref_VND,
.hide_Ref_THB,
.hide_Ref_RMB,
.hide_Ref_CNY {
	display: none
}

.show_THB {
	display: block!important;
	margin-bottom: 20px;
	color: red
}

#RefNoRemark_Sacom,
#RefNoRemark_Techcom,
#RefNoRemark_Vietcom,
#RefNoRemark_Other {
	margin-bottom: 20px
}

.show_Bank_VND {
	display: block!important
}

#vendorImg {
	height: 100%
}

.diverror {
	color: #f5161b;
	margin-bottom: 20px;
	display: none
}

.financeType .bank-icon {
	margin-right: 10px;
	color: #fff
}

.financeActive .bank-icon {
	color: #25aae1;
	margin-right: 10px;
}

#financeTypeSelection span {
	vertical-align: middle;
	color: #fff;
}

.steps-holder {
	text-align: center;
	position: relative
}

.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}

.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3)
}

.loading:not(:required) {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 8px;
	width: .7em;
	height: .7em;
	margin-top: -.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: .5em;
	-webkit-box-shadow: #25aae1 1.5em 0 0 0, #25aae1 1.1em 1.1em 0 0, #25aae1 0 1.5em 0 0, #25aae1 -1.1em 1.1em 0 0, #25aae1 -1.5em 0 0 0, #25aae1 -1.1em -1.1em 0 0, #25aae1 0 -1.5em 0 0, #25aae1 1.1em -1.1em 0 0;
	box-shadow: #25aae1 1.5em 0 0 0, #25aae1 1.1em 1.1em 0 0, #25aae1 0 1.5em 0 0, #25aae1 -1.1em 1.1em 0 0, #25aae1 -1.5em 0 0 0, #25aae1 -1.1em -1.1em 0 0, #25aae1 0 -1.5em 0 0, #25aae1 1.1em -1.1em 0 0
}

#financeTypeSelection {
	margin: 40px 0 0 0;
	background-color: #1D656C;
}

.account_summary,
.account_summary+div {
	padding: 0
}

.garislocalbank {
	margin-top: 20px
}

.account_summary_wallet {
	display: inline-block;
	margin-left: 20px
}

.account_summary_outer {
	margin-left: 20px
}

.TotalWalletAmount,
.TotalPreferAmount {
	margin-top: 15px
}

.account_summary_deposit {
	display: inline-block;
	float: right;
	margin-top: 19px
}

.account_summary_deposit span {
	padding: 15px 40px;
	background-color: #F1F2CD;
	color: #fff;
	border-radius: 5px
}

.account_summary_div {
	border-right: 1px solid #cdcdcd;
	padding: 0
}

.deposit-methods:focus,
.withdrawal-methods:focus,
.slick-slide:focus {
	outline: none
}

.deposit-active,
.withdrawal-active {
	border-bottom: 5px solid #25aae1
}

.deposit-active span,
.withdrawal-active span {
	color: #25aae1!important
}

#totalBalanceAmt,
#mainAccountBalanceAmt,
#mainWalletBalanceAmt {
	color: #fff;
	font-weight: bold;
	margin-right: 10px;
	word-wrap: break-word
}

#totalBalanceAmt {
	font-size: 36px
}

#mainAccountBalanceAmt,
#mainWalletBalanceAmt {
	font-size: 24px
}

.balance_type {
	font-size: 14px;
	color: #fff;
	font-weight: bold
}

.balance_Curr {
	font-size: 24px;
	font-weight: bold;
	color: #8c8c8c;
	text-transform: uppercase
}

.deposit-methods span,
.withdrawal-methods span {
	display: block;
	margin-bottom: 20px;
	color: #2c2c2c
}

.balance_panel {
	padding: 15px 0;
	border-bottom: 1px #dcdcdc solid;
	border-top: 1px #dcdcdc solid;
	background-color: #1D656C;
}

.bank_top_panel {
	margin: 20px 0
}

.bank_top_title {
	margin-bottom: 6px;
	color: #2c2c2c;
	font-size: 30px
}

.bank_top_summary {
	margin-bottom: 30px;
	color: #000;
	font-size: 16px
}

.no-copy {
	color: #3f97ff;
	font-size: 12px;
	cursor: pointer
}

.no-copy.cn {
	background-color: #25aee1;
	color: #fff;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bolder;
	border-radius: 5px
}

@media only screen and (max-width:1174px) {
	.no-copy.cn {
		padding: 8px 8px
	}
}

.copied {
	color: #33c85d;
	font-size: 12px
}

.amount_vnd_idr {
	display: inline-block;
	width: 90%!important
}

.amount_VND,
.amount_IDR {
	display: inline-block!important
}

.amount_Error_VND,
.amount_Error_IDR {
	display: inline
}

#BankImg {
	background: url('/Assets/images/Finance/cdc/2_.jpg') no-repeat;
	height: 25px;
	width: 47px;
	vertical-align: middle;
	display: inline;
	float: left
}

#ddlHours,
#ddlMinutes {
	width: 30%
}

#ddlSeconds {
	width: 31%
}

select#BankAccountDDL option[value="CMB"] {
	background-image: url(/Assets/images/Finance/cdc/CMB.jpg)
}

.min-max {
	color: #000;
	font-weight: bold
}

.row.payment-Content {
	max-width: 100%
}

#btcHelper {
	color: #25aae1;
	text-decoration: underline;
	cursor: pointer
}

.btcHelperWrapper,
.QRCodeWrapper {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40
}

.btcHelperWrapperBg,
.QRCodeWrapperBg {
	width: 100vw;
	height: 100vh;
	background: grey;
	opacity: .3;
	position: absolute
}

.btcHelperTitle {
	font-size: 20px;
	color: #25aae1;
	border-bottom: 3px #25aae1 solid;
	margin-bottom: 20px;
	padding-bottom: 15px
}

.bitcoin_close,
.QRCode_close {
	float: right;
	margin-top: 5px;
	cursor: pointer
}

.btcHelperWrapperContent {
	width: 600px;
	height: 500px;
	background-color: #fff;
	position: fixed;
	margin-left: calc((100% - 600px)/2);
	margin-top: calc((100vh - 500px)/2);
	padding: 20px;
	border-radius: 10px;
	box-shadow: black 0 0 20px -4px
}

.bitCoinStepTitle {
	font-size: 16px
}

.bitCoinDesc {
	display: block;
	margin-bottom: 10px
}

.bitCoinMethod {
	display: block
}

.bitCoinDesc span,
.bitCoinStep span {
	color: #25aae1;
	text-decoration: underline;
	cursor: pointer
}

.btcHelperContentTitle {
	max-height: 350px;
	height: 350px;
	overflow: auto
}

.button-panel {
	text-align: center;
	margin-top: 20px
}

#prevBtn,
#nextBtn {
	padding: 8px 20px;
	box-shadow: #dcdcdc 0 0 15px 2px inset;
	cursor: pointer;
	margin: auto 2px;
	border-radius: 6px
}

#prevBtn:hover,
#nextBtn:hover {
	background-color: #dcdcdc
}

#pageNum {
	margin: auto 3px
}

.fun-logo-qr {
	visibility: hidden;
	display: none
}

#qrContainerDesktop,
#qrContainerDesktop img,
#qrContainerMobile,
#qrContainerMobile img {
	width: 200px;
	height: 200px
}

#displayAmount {
	border-radius: 5px;
	padding-left: 5px;
	margin-left: 5px;
	padding-right: 5px
}

#qrContainerDesktop {
	margin: auto
}

#qrContainerMobile {
	margin: 10px auto 30px
}

#qrContainer {
	margin: 20px 100px
}

.qr_popup_title {
	text-align: center;
	margin-bottom: 10px
}

.qr_amount_txt {
	margin-right: 5px
}

.amount_segment {
	margin-bottom: 10px;
	text-align: center
}

.QR_success_btn {
	text-align: center;
	margin: 20px auto
}

.qr_popup_description {
	color: #25aae1
}

#qr_close_popup {
	cursor: pointer
}

.QR_success_btn span {
	padding: 5px 25px;
	background-color: #25aae1;
	border-radius: 5px;
	color: #fff
}

.QRCodeWrapperContent {
	width: 450px;
	height: auto;
	background-color: #fff;
	position: fixed;
	margin-left: calc((100% - 370px)/2);
	margin-top: calc((100vh - 330px)/2);
	padding: 20px;
	border-radius: 10px;
	box-shadow: black 0 0 20px -4px
}

.QRCodeTitle {
	font-size: 20px;
	color: #25aae1;
	border-bottom: 3px #25aae1 solid;
	margin-bottom: 30px;
	padding-bottom: 5px
}

.lineDescription {
	font-weight: bold!important;
	font-size: 30px;
	color: #000
}

.lineDescription2 ol li {
	font-weight: bold!important
}

.quick-btn-segment {
	margin: 20px auto
}

#verificationTitle {
	color: red;
	margin: 10px auto
}

.verifyGroup {
	display: none
}

.verification-row {
	margin-bottom: 10px
}

.line-content {
	margin-top: 30px
}

.QrContent {
	text-align: center
}

.pictureContainer {
	margin-bottom: 20px
}

.lineQrCode>img {
	width: 50%
}

.pictureContainer2 {
	margin: 30px auto 10px
}

.pictureContainer2>img {
	width: 80%;
	height: auto;
	margin-bottom: 10px
}

.pictureContainer2>span {
	display: inline-block
}

@media screen and (max-width:1024px) {
	.hide-mobile {
		display: block
	}
	.bank-icon {
		margin-right: 0
	}
	.financeTypeEmpty {
		height: 68px
	}
	.account_summary b {
		line-height: normal
	}
	.account_summary_wallet {
		margin-left: 0;
		display: block
	}
	.account_summary_outer {
		margin-left: 0
	}
	.walletAmountPlaceHolder {
		text-align: right
	}
	.TotalWalletAmount,
	.TotalPreferAmount {
		margin-top: 0
	}
	.account_summary_deposit {
		margin-right: 0;
		display: block;
		float: left;
		margin-top: 19px;
		width: 100%;
		text-align: center
	}
	.account_summary_deposit div {
		width: 80%
	}
	.account_summary_deposit span {
		padding: 15px 0;
		display: block
	}
	.account_summary_div {
		border-right: none
	}
	.form-wrapper {
		margin-top: 20px
	}
	.BtnSubmit,
	.BtnCancel {
		width: 90%;
		display: block;
		margin: auto;
		background-color: #3f97ff;
		color: #fff;
		margin-bottom: 10px
	}
	.btnGroup {
		margin: 10px 0
	}
	.account-details {
		margin-left: 0
	}
	.ProceedButton>span {
		width: 240px
	}
	.account-details-table tr td:nth-child(2) {
		width: 46%
	}
	.account-details-table tr td:nth-child(3) {
		width: 28%
	}
	#paymentMethodSlider .slick-list {
		width: 94%
	}
	.pictureContainer2 {
		margin: 30px auto 10px;
		text-align: center
	}
}

@media screen and (max-width:520px) {
	.account-details-table tr td:nth-child(2) {
		width: 50%
	}
	.account-details-table tr td:nth-child(3) {
		width: 12%;
		padding-left: 0;
		padding-right: 0
	}
	#paymentMethodSlider .slick-list {
		width: 90%
	}
	.methodName {
		font-size: 10px
	}
	.btcHelperWrapperContent {
		width: 300px;
		height: 350px;
		margin-left: calc((100% - 300px)/2);
		margin-top: calc((100vh - 350px)/2);
		padding: 15px
	}
	.btcHelperContentTitle {
		height: 220px;
		max-height: 220px
	}
	.button-panel {
		margin-top: 14px
	}
	.QRCodeWrapperContent {
		width: 90%;
		margin-top: calc((100vh - 90%)/2)
	}
	#financeTypeSelection {
		margin: 20px 0 0 0
	}
	#paymentMethodSlider {
		margin-top: 20px
	}
	.bank_top_summary {
		margin-bottom: 10px
	}
	.balance_panel {
		padding: 10px 0;
	}
	.pictureContainer2>img {
		width: 100%
	}
}

@media screen and (max-width:1399px) {
	.garislocalbank {
		width: 100px
	}
}

@media screen (max-width:639px) {
	.quickTransfer {
		max-height: 90%;
		overflow-y: auto;
		overflow-x: hidden;
		min-height: 0;
	}
}

@media screen and (max-width:499px) {
	.garislocalbank {
		width: 40px;
		margin-top: 28px;
		margin-left: -10px
	}
	.informationIcon {
		color: #2199e8;
		margin-top: 10px;
		margin-left: 5px;
		float: none;
		vertical-align: middle
	}
}

@media screen and (min-width:1024px) {
	.reminderDesktop {
		display: block!important
	}
	.reminderMobile {
		display: none!important
	}
}

@media screen and (max-width:1024px) {
	.steps-holder {
		margin-top: 40px
	}
	.garislocalbank {
		width: 150px
	}
}

@media screen and (max-width:1099px) {
	.garislocalbank {
		width: 55px
	}
}

@media screen and (max-width:799px) {
	#quickTransferForm .quickTransfer,
	.quickTransfer {
		background-color: #fff;
		width: 80%!important;
		height: auto;
		padding-bottom: 2px
	}
	#quickTransferForm .quickTransfer #frWalletDropdown,
	#quickTransferForm .quickTransfer #toWalletDropdown {
		height: 150px
	}
	.quickTransfer span {
		font-size: 16px
	}
	#quickTransferForm .quickTransfer .form-wrapper,
	.quickTransfer .form-wrapper {
		background-color: #fff;
		margin-top: 0;
		overflow: auto;
		max-height: calc(100% - 50px)
	}
	.transfer-Title {
		font-size: 20px
	}
	.remove-right-padding {
		padding: 0
	}
	.quick-btn-segment {
		margin: 0 auto
	}
	.row.payment-Content {
		max-width: 90%
	}
	.balance_type,
	.account_summary span {
		vertical-align: -webkit-baseline-middle;
		vertical-align: middle
	}
	.account-details-table tr td:nth-child(2) {
		width: 57%
	}
	.account-details-table tr td:nth-child(3) {
		width: 13%
	}
	.input-field input,
	.input-field select,
	.input-field>button {
		width: 96%
	}
	.hide-mobile {
		display: none
	}
	.financeTypeEmpty {
		height: 47px
	}
	#totalBalanceAmt {
		font-size: 18px
	}
	#mainAccountBalanceAmt,
	#mainWalletBalanceAmt,
	.balance_Curr {
		font-size: 14px
	}
	#mainAccountBalanceAmt,
	#mainWalletBalanceAmt {
		font-size: 12px
	}
	.ProceedButton>span {
		width: 160px
	}
	.transactionDetails,
	.account-details-desc,
	.depositMethodOptions {
		margin-left: 0
	}
	.deposit-step-title {
		margin: 0 0 20px 0
	}
	#ddlHours,
	#ddlMinutes {
		width: 30%
	}
	#ddlSeconds {
		width: 31%
	}
	.Rules {
		margin: 0 .625rem
	}
	.financeType .bank-icon,
	.financeActive .bank-icon {
		margin-right: 0;
		display: block
	}
	.form-field {
		padding-left: .625rem
	}
	.bank_top_panel {
		padding: 0 .625rem
	}
	.reminder {
		margin: 0
	}
	.btcHelperWrapperContent {
		width: 400px;
		height: 400px;
		margin-left: calc((100% - 400px)/2);
		margin-top: calc((100vh - 400px)/2);
		padding: 15px
	}
	.btcHelperContentTitle {
		height: 260px;
		max-height: 260px
	}
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
	#quickTransferForm .quickTransfer,
	.quickTransfer {
		width: 450px!important
	}
}

@media screen and (orientation:landscape) and (max-width:799px) {
	#quickTransferForm .quickTransfer,
	.quickTransfer {
		background-color: #fff;
		width: 80%!important;
		height: auto;
		padding-bottom: 2px
	}
	.QRCodeWrapperContent {
		width: 400px;
		max-height: 310px;
		margin-left: calc((100% - 400px)/2);
		margin-top: calc((100vh - 310px)/2);
		padding: 8px
	}
	#qrContainerDesktop,
	#qrContainerDesktop img {
		width: 140px;
		height: 140px
	}
	.quick-btn-segment {
		margin: 0 auto
	}
	#quickTransferForm .quickTransfer .form-wrapper {
		margin-top: 15px
	}
}