﻿.colorHeaderFilterMobile{width:20%;display:inline-block;background-color:#2196f3;float:left;height:5px;}
.disable-hover,
.disable-hover *{pointer-events:none !important;}
.gridViewSlotHolder > .playNowButtonList, .gridViewSlotHolder > .tryNowButtonList{display:none;}
.slotGamePanel.list > .playNowButtonList, .slotGamePanel.list > .tryNowButtonList{display:block;opacity:0;}
.loading{position:fixed;z-index:999;height:2em;width:2em;overflow:show;margin:auto;top:0;left:0;bottom:0;right:0;}
.loading:before{content:'';display:block;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.3);}
.loading:not(:required){font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.loading:not(:required):after{content:'';display:block;font-size:8px;width:0.7em;height:0.7em;margin-top:-0.5em;-webkit-animation:spinner 1500ms infinite linear;-moz-animation:spinner 1500ms infinite linear;-ms-animation:spinner 1500ms infinite linear;-o-animation:spinner 1500ms infinite linear;animation:spinner 1500ms infinite linear;border-radius:0.5em;-webkit-box-shadow:#25aae1 1.5em 0 0 0, #25aae1 1.1em 1.1em 0 0, #25aae1 0 1.5em 0 0, #25aae1 -1.1em 1.1em 0 0, #25aae1 -1.5em 0 0 0, #25aae1 -1.1em -1.1em 0 0, #25aae1 0 -1.5em 0 0, #25aae1 1.1em -1.1em 0 0;box-shadow:#25aae1 1.5em 0 0 0, #25aae1 1.1em 1.1em 0 0, #25aae1 0 1.5em 0 0, #25aae1 -1.1em 1.1em 0 0, #25aae1 -1.5em 0 0 0, #25aae1 -1.1em -1.1em 0 0, #25aae1 0 -1.5em 0 0, #25aae1 1.1em -1.1em 0 0;}
@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
@-moz-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
@-o-keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes spinner{0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);}
}
.gamesNumberMobileHolder{font-size:16px;font-weight:bolder;}
.gameNamePositioningGrid{margin-left:auto;margin-top:10px;}
.game-overlay.grid > .icon_positioning{position:absolute;top:5px;left:5px;}
.game-overlay.list > .icon_positioning{position:absolute;top:20px;left:5px;}
.game-overlay.list > .slot-fav-icon{top:25px;}
.sortAndFilterBtn{color:white;background-color:#00adef;padding:3px;border-radius:4px;}
.sortAndFilterBtn:hover{background-color:#14bef2;}
.gameNamePositioningList{margin-left:50px;}
.clearFilterGames{float:right;text-decoration:underline;font-weight:bolder;color:#2199e8;}
.clearFilterGames:hover{color:#1585cf;}
.totalGamesCount{color:#000000;font-weight:bolder;font-size:16px;text-align:center;margin-top:25px;}
.payLineValue{display:none;}
.rolaImageNoGame{width:406px;}
.banner-Button.zh, .banner-Button.en, .banner-Button.id, .banner-Button.vi {
    margin-top: 1%;
}
.banner-Button {
    background-color: #3f97ff;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    color: #fff;
    padding: 10px 25px;
    min-width: 150px;
}
.gameSearchBox{width:100%;background-color:#fff !important;border:1px solid #fff !important;border-radius:7px;color:#000 !important;box-sizing:border-box;transition:width 1s;background-image:url(img/search_icon.png);background-position:10px 6px;background-repeat:no-repeat;background-size:20px;box-shadow:1px 1px 1px 0px #888888;padding-left:40px !important;}
.gameSearchBox:hover, .gameSearchBox:focus{border:1px solid #ddd !important;}
.gameSearchBox::-webkit-input-placeholder{color:#808080;}
.gameSearchBox:-moz-placeholder{color:#808080;opacity:1;}
.gameSearchBox::-moz-placeholder{color:#808080;opacity:1;}
.gameSearchBox:-ms-input-placeholder{color:#808080;}
@-webkit-keyframes MOVE-BG{from{background-position:95px 5px;}
to{background-position:10px 5px;}
}
@-webkit-keyframes MOVE-BACK-BG{from{background-position:10px 5px;}
to{background-position:95px 5px;}
}
.defaultAlphabetSorting{vertical-align:middle;display:inline-block;font-size:14px;font-weight:bolder;color:black;}
.defaultAlphabetSorting:hover, .defaultAlphabetSorting.active{color:#14bef2;}
.slotGameImage{z-index:3;max-height:266px;}
.slotGameImage.list{height:70px;}
.lazyload{opacity:0;}
.lazyloading{opacity:1;transition:300ms opacity;background:#f7f7f7 no-repeat center 30px;z-index:3;}
.chkBoxText{margin-left:30px;position:absolute;vertical-align:middle;}
.cursor-pointer{cursor:pointer;}
.gameLaunch{z-index:20;}
.downloadFeelLuckyText{float:left;margin-left:22px;}
.listViewFontSize{font-size:14px;text-transform:uppercase;}
.populateFilteringBtn{background-color:#cacaca;height:30px;border-radius:3px;color:#2c2c2c;display:inline-block;padding:0 25px;padding-left:8px;position:relative;margin-left:15px;margin-bottom:6px;}
.icon-cancel_filter{position:absolute;top:6px;cursor:pointer;right:6px;}
.totalJackpotDivHolder{position:absolute;top:-17%;z-index:1;}
.progressiveJackpotHolder{height:27px;width:100%;background:#000000;opacity:0.6;filter:alpha(opacity=60);color:white;position:absolute;bottom:0;margin-bottom:0;}
.progressiveJackpotHolder.hide{display:none;}
.progressiveJackpotHolder.show{display:block;}
.progressiveJackpotHolder > .icon-fun88_bookmark_star_checked{position:absolute;top:12%;left:15%;}
.bold-black-text{font-weight:bolder;color:black;}
.no-padding{padding:0 !important;}
.img-responsive{width:100%;height:auto;}
.feelLuckyImageHolder{padding:0 !important;top:18px;position:absolute;}
.dark-grey-bold-text{font-size:16px;color:#2c2c2c;font-weight:bold;text-transform:uppercase;}
.showAllText{padding:0;text-align:center;text-transform:uppercase;}
.gameCategoryTextHolder{text-transform:uppercase;font-size:11px;font-weight:bold;color:#8e8e8e;float:left;}
.upperCaseLetter{text-transform:uppercase;}
.checkBoxListWrap{min-height:36px;max-height:100px;position:relative;}
.gameViewIcon{font-size:22px;color:#cacaca;cursor:pointer;}
.gameViewIcon:hover{color:#33c85d;}
.mobileSortTiles{text-transform:uppercase;}
.mobileRadioBoxWrap{position:relative;margin-top:10px;}
.mobileFilterBtn{cursor:pointer;text-align:center;background-color:#00ADEF;border:1px solid #00ADEF;color:white;font-size:16px;border-radius:5px;padding:5px 0;}
.mobileFilterBtn:hover{background-color:#3f97ff;}
.jackpotBtn{z-index:2;position:absolute;right:0;}
.mobileClearFilterBtn{cursor:pointer;text-align:center;border:1px solid #808080;border-radius:3px;font-size:16px;border-radius:5px;padding:5px 0;background-color:#f3f3f3;color:#808080;}
.mobileFilterBoxText{position:absolute;left:30%;font-weight:lighter;color:black;}
.mobileSortPanelSortTitlesHolder{padding-left:20px;font-weight:bolder;font-size:18px;color:#8e8e8e;}
#mobile-sort-ddl-holder{background-color:#00ADEF;width:90%;border-radius:3px;min-height:55px;color:white;position:relative;border-bottom:1px solid #cecece;font-size:24px;}
#mobile-sort-ddl{list-style-type:none;background-color:#00ADEF;margin:0;z-index:20;position:relative;display:none;border-radius:5px;}
.gameFilterTitle{padding-left:.625rem;padding-right:.625rem;margin-bottom:10px;color:#808080;}
#titleSorting{padding:10px 15px;border-bottom:1px solid #cecece;font-weight:lighter;}
#mobile-sort-ddl > li{display:block;font-size:24px;font-weight:lighter;padding:10px 15px;}
#mobile-sort-ddl > li:not(:last-child){border-bottom:1px solid #cecece;}
.mobileFilterSortSection{display:none;position:fixed;z-index:50;height:100%;background-color:#f3f3f3;padding:0;overflow-y:scroll;top:0;-webkit-overflow-scrolling:touch;}
.icon-filter_expand{position:absolute;right:15px;top:23px;font-size:10px;z-index:25;}
.filterHeaderMobile{background-color:#00ADEF;height:46px;text-align:center;display:block;color:white;font-size:19px;font-weight:lighter;padding-top:10px;position:fixed;width:100%;z-index:30;}
#mobile-rainbow-style{position:fixed;top:70px;width:100%;z-index:50;}
.mobile-btn-selection-holder{position:fixed;bottom:0;z-index:40;padding:10px 15px;background-color:#f3f3f3;}
.mobileTitleFilter{font-size:26px;font-weight:lighter;padding:20px 20px;display:block;color:#808080;}
.closeButtonFilterPanel{position:absolute;right:5%;top:35%;font-size:14px;}
.filteringHolder.icon-fun88_arrow_down_triangle{color:#3f97ff;position:absolute;font-size:6px;top:8px;left:100px;}
.square-radio{border:1px solid black;margin:2px;width:40px;height:40px;position:relative;}
.square-radio--clicked .square-radio--content{margin:auto;position:absolute;left:0;right:0;top:0;bottom:0;background-color:black;width:20px;height:20px;}
.icheckbox_square-blue{position:absolute;}
.VendorLogo{border-radius:26px;width:26px;height:26px;font-size:9px;font-weight:bold;text-transform:uppercase;text-align:center;padding-top:6px;position:absolute;z-index:4;}
.listViewPlayNow{position:absolute;background-color:#23aee1;color:white;width:150px;left:30%;margin-top:13px;cursor:pointer;text-align:center;border-radius:5px;z-index:10;}
.searchFilteringHolder{margin-top:10px;}
.listViewTryNow, .listViewDetail{position:absolute;background-color:#ffffff;color:black;width:150px;left:55%;margin-top:13px;cursor:pointer;text-align:center;border-radius:5px;z-index:10;}
.filterSectionHolder{background-color:white;position:relative;}
.allProducts{background:#f3f3f3;color:black;}
.bsgProducts{background:#c79906;color:white;}
.cqgProducts{background:#fe9900;color:white;}
.tgProducts{background:#f20000;color:white;}
.swfProducts{background:#A2EF00;color:white;}
.lxProducts{background:#984EE4;color:white;}
.mgsqfProducts{background:#03AD1F;color:white;}
.ptProducts{background:#23aee1;color:white;}
.iwgProducts{background:#003B8D;color:white;}
.productProvider{font-size:11px;color:#3f97ff;font-weight:normal;float:left;}
.margin-left-fifty{margin-left:50px !important;}
.vendorDescription span{font-size:11px;color:#8e8e8e;}
.game-name-selector{padding-top:6px !important;height:37px;border:1px solid lightgrey;border-radius:5px;position:relative;cursor:default;}
.gameFilteringName:hover{color:#14bef2;}
.gameFilteringName.active:after{content:' ';display:block;border:2px solid #14bef2;margin-top:20px;width:63px;color:#14bef2;}
#slotVendorDropDownList, #slotGameTypeDropDownList, #slotGameFeaturesDropDownList, #slotPayLineDropDownList, #slotNewDropDownList, #slotMyFavDropDownList, #slotGameRecommendation, #slotLastPlayedGameList, #slotFilterPlayerPreference{font-weight:bolder;padding:10px 0;font-size:14px;cursor:pointer;position:relative;height:40px;width:100%;}
.preferenceIcons{float:left;width:50%;display:inline-block;text-align:center;color:black;}
.preferenceIcons.active, .preferenceIcons:hover{color:red;}
#slotVendorList, #slotGameType, #slotGameFeatures, #slotFilterRangeNewList, #slotMyFavoritesGame, #slotMyRecentRecommendationsGame, #slotLastPlayedGames, #slotPreferenceList{display:block;border-bottom:1px solid #d3d3d3;width:100%;}
.recentWinnerHolder{position:absolute;right:3%;top:0;min-height:350px;max-height:342px;background-color:#dcdcdc;opacity:0.9;width:300px;z-index:1000;}
.recentWinnerIcon{position:absolute;font-size:40px;top:20px;left:25px;}
.recentWinnerTable{display:table;width:300px;text-align:center;padding-top:10px;padding-bottom:10px;}
.recentWinnerTable:first-child{border-top:1px solid black !important;}
#gameNameSelector{text-overflow:ellipsis;white-space:nowrap;width:150px;overflow:hidden;padding-left:5px;}
.slick-vertical .slick-slide{display:block;height:auto;border-top:1px solid black !important;}
.recentWinnerText{text-align:center;color:#3f97ff;font-weight:bolder;font-size:22px;text-transform:uppercase;padding:20px;}
.recentWinnerWinnersList{min-height:55px;padding-top:0px;border-top:2px solid #f3f3f3;}
.gameholder{}
.slot-banner-Wrapper{position:relative;z-index: 1}
.slot-banner-Wrapper.show{display:block;}
.slot-banner-Wrapper.hide{display:none;}
.slot-banner-paging{position:absolute;bottom:0;width:100%;}
.gamebannerImage{height:350px;background-size:cover !important;}
.gamebannerContent{position:absolute;padding:25px 25px 25px 40px;top:35px;width:100%;}
.gamebannerTitle{font-size:48px;display:block;color:#3f97ff;line-height:1.2;font-weight:bold;}
.gamebannerDesc{font-size:72px;display:block;color:white;line-height:1.2;}
.gamebannerMiniDesc{font-size:20px;display:block;color:white;line-height:1.2;font-weight:bold;padding-left:5px;}
@-webkit-keyframes opacity{0%{opacity:1;}
100%{opacity:0;}
}
@-moz-keyframes opacity{0%{opacity:1;}
100%{opacity:0;}
}
.loadingSpan{text-align:center;}
.loadingSpan span{-webkit-animation-name:opacity;-webkit-animation-duration:1s;-webkit-animation-iteration-count:infinite;-moz-animation-name:opacity;-moz-animation-duration:1s;-moz-animation-iteration-count:infinite;}
.loadingSpan span:nth-child(2){-webkit-animation-delay:100ms;-moz-animation-delay:100ms;}
.loadingSpan span:nth-child(3){-webkit-animation-delay:300ms;-moz-animation-delay:300ms;}
.iconLucky, .iconLuckyDownload, .iconLuckyDownload{height:69px;}
.filterVendorTitleName{position:absolute;left:0;text-transform:uppercase;}
.filterGameTypeName, .filterGameFeatures, .filterGameLine, .filterPreferenceName{position:absolute;left:0;text-transform:uppercase;}
.slot-banner-arrow{position:absolute;top:35%;width:100%;}
.slot-banner-arrow > .slick-prev{float:left;margin-left:4px;}
.slot-banner-arrow > .slick-next{float:right;margin-right:4px;}
.slot-banner-arrow > button > span{font-size:90px;color:white;}
.slot-slick-dots > li{display:inline-block;}
.slot-banner-paging > ul{text-align:center;position:absolute;width:100%;margin:auto;bottom:0px;margin-bottom:10px;}
.slot-banner-paging > ul > li{display:inline-block;padding:0px 5px;}
.slot-banner-paging > ul > li > span{color:white;cursor:pointer;}
.slick-dots > li > span.activedot{display:none;}
.slick-dots > li.slick-active > span.activedot{display:inline-block;color:#3f97ff !important;}
.slick-dots > li.slick-active > span.inactivedot{display:none;}
.game-overlay{position:relative;cursor:pointer;z-index:3;}
.detail{z-index:2;width:100%;transition:all 0.5s;-webkit-transition:all 0.5s;display:none;margin-top:5px;}
.game-overlay img{width:100%;vertical-align:top;}
.game-overlay:after, .game-overlay:before{position:absolute;display:none;}
.game-overlay > .gameh-play-f{position:absolute;top:50%;left:50%;margin-left:-7px;margin-top:-11px;-webkit-transition:all .2s ease;transition:all .2s ease;}
.w20{width:20px;}
.game-overlay .gameh-centerplay{transition:opacity 1s ease-in-out;-moz-transition:opacity 1s ease-in-out;-webkit-transition:opacity 1s ease-in-out;}
.game-overlay:hover .gameh-centerplay{transition:opacity .55s ease-in-out;-moz-transition:opacity .55s ease-in-out;-webkit-transition:opacity .55s ease-in-out;}
.game-overlay:hover .spinner{-webkit-animation:spin 0.3s linear;-moz-animation:spin 0.3s linear;animation:spin 0.3s linear;animation-fill-mode:forwards;}
@-moz-keyframes spin{100%{-moz-transform:rotate(180deg);}
}
@-webkit-keyframes spin{100%{-webkit-transform:rotate(180deg);}
}
@keyframes spin{100%{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
}
.game-overlay > .gameh-centerwrap{-ms-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-transition:-webkit-transform .33s;transition:transform .33s;-webkit-backface-visibility:hidden;transform:matrix(1, 0, 0, 1, 0, 0);}
.playNowButtonList{position:absolute;right:120px;-webkit-transform:translate(70%, -40%);-moz-transform:translate(70%, -40%);-ms-transform:translate(70%, -40%);-o-transform:translate(70%, -40%);transform:translate(70%, -40%);cursor:pointer;background-color:#00adef;color:white;padding:5px 10px;border-radius:5px;z-index:10;top:27%;display:none;}
.playNowButtonList.btnLangth{right:80px;}
.playNowButtonList.btnLangvi{right:110px;}
.playNowButtonList.btnLangen{right:90px;}
.playNowButtonList:hover{background-color:#14bef2;}
.slotGamePanel.list > .playNowButtonList{right:95px;}
.slotGamePanel.list > .playNowButtonList.btnLangen{right:88px;}
.slotGamePanel.list > .playNowButtonList.btnLangid{right:110px;}
.slotGamePanel.list > .tryNowButtonList.freePlayid{right:270px;}
.slotGamePanel.list > .tryNowButtonList.freePlayth{right:180px;}
.slotGamePanel.list > .tryNowButtonList.freePlayvi{right:215px;}
.slotGamePanel.list > .tryNowButtonList.freeSlotvi{right:130px;}
.slotGamePanel.list > .tryNowButtonList.freeSlotth{right:163px;}
.slotGamePanel.list > .tryNowButtonList.freeSlotid{right:140px;}
.slotGamePanel.list > .tryNowButtonList.freeSlotzh{right:120px;}
.tryNowButtonList{position:absolute;right:148px;-webkit-transform:translate(206%, -48%);-moz-transform:translate(206%, -48%);-ms-transform:translate(206%, -48%);-o-transform:translate(206%, -48%);transform:translate(206%, -48%);cursor:pointer;text-decoration:underline;color:white;z-index:10;top:72%;display:none;}
.tryNowButtonList.gameButtonList{right:165px;}
.tryNowButtonList:hover{color:#000000;}
.gameh-centerwrap{width:60px;height:60px;border-radius:50%;position:absolute;top:50%;left:52%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);transition:all .7s ease;}
.w100p{width:100%;}
.gameSearchField{position:absolute;right:7%;top:27%;width:350px;}
.gameh-centerplay{opacity:1;border-radius:50%;position:relative;}
.game-overlay:hover > .slotGameImage{-moz-transform:scale(1.05);-webkit-transform:scale(1.05);transform:scale(1.05);transition:all 0.8s ease;-moz-transition:all 0.8s ease;-ms-transition:all 0.8s ease;-webkit-transition:all 0.8s ease;-o-transition:all 0.8s ease;}
.game-overlay:hover > .playNowIconOverlay{display:inline-block;}
.game-overlay > .playNowIconOverlay{position:absolute;z-index:4;width:65px;top:50%;left:50%;display:none;margin-left:auto;margin-right:auto;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.loading-gif{position:relative;width:40px;margin-left:auto;margin-right:auto;display:none;}
.dropdown.menu > li.is-dropdown-submenu-parent > a:after{right:-12px !important;}
.is-dropdown-submenu{min-width:105px !important;}
.listView:nth-child(4n){background-color:rgb(242, 242, 242);}
.listView:nth-child(4n-1){background-color:rgb(242, 242, 242);}
.slotGamePanel{padding-right:0;position:relative;}
.slotGamePanelBoxWrap{text-align:center;min-height:320px;}
.slotGamePanel.list{padding-left:0;cursor:pointer;border-bottom:1px solid #cecece;height:70px;min-height:70px;}
.slotGamePanel.list:hover{background:rgba(0, 0, 0, 0.3);}
.slotGamePanel.list:hover > .playNowButtonList, .slotGamePanel.list:hover > .tryNowButtonList{display:block;opacity:1;}
.slotGamePanel.list:hover > .tryNowButtonList.NotDemoFree{ display: none;}
.vendorGameWrapper{min-height:400px !important;}
.newGameSlotGamePanelBoxWrap{min-height:190px;text-align:center;}
.listView{position:relative;}
.listView > .buttonListView{width:100%;opacity:0;}
.listView:after, .listView:before{position:absolute;opacity:0;transition:all 0.5s;-webkit-transition:all 0.5s;}
.listView:after{content:' ';width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.3);}
.listView:before{content:attr(data-content);width:100%;color:#fff;z-index:1;bottom:0;padding:4px 10px;text-align:center;box-sizing:border-box;-moz-box-sizing:border-box;}
.listView:hover:after, .listView:hover:before, .listView:hover > .buttonListView{opacity:1;}
.slot-fav-icon{position:absolute;top:5px;right:5px;font-size:20px;z-index:4;cursor:pointer;}
.gamesName{font-size:16px;color:#2c2c2c;float:left;text-align:left;}
.vendorName{margin-top:17px;font-size:16px;color:#2c2c2c;text-align:left;padding-top:4px;}
.vendorBetLimit span:first-child, .vendorBetLimit span:nth-child(n+2){font-weight:bold;font-size:12px;color:#2c2c2c;}
.vendorBetLimit span:last-child{font-size:10px;color:#8e8e8e;}
.vendorExtraInfo span:first-child, .vendorExtraInfo span:nth-child(n+2){font-weight:bold;font-size:12px;color:#2c2c2c;}
.vendorExtraInfo span:last-child{font-size:10px;color:#8e8e8e;}
.slotCategoryHolder{padding-left:15px;padding-bottom:19px;padding-top:0;}
.slotholder.hidden{display:none;}
.vendorMasterHolder{ margin-bottom: 70px;}
.slotholder.show{display:block;}
.icon-fun88_bookmark_heart_checked{animation:beat .5s infinite alternate;transform-origin:center;color:red !important;}
@keyframes beat{to{transform:scale(1.2);}
}
.showAllHolder, .showMoreHolder{padding-top:5px;color:#3f97ff;font-weight:bold;border:1px solid lightgrey;background-color:#f2f3f4;border-radius:5px;padding-bottom:5px;cursor:pointer;margin-top:25px;}
.showMoreHolder{margin-top:15px;}
.showAllHolder:hover, .showMoreHolder:hover{background-color:#3f97ff;color:white;}
.viewAllSpanWording{padding-right:0;text-align:right;font-size:12px;color:#2199e8;cursor:pointer;}
.viewAllSpanWording:hover, .viewAllSpanWording:hover, .viewAllSpanWording:hover, .viewAllSpanWording:hover, .viewAllSpanWording:hover{color:#1585cf;}
.text-no-game-found{text-align:center;width:35%;position:absolute;top:44%;left:32%;word-break:break-all;font-size:24px;font-weight:500;display:none;}
#lessRecentlyPlayedGameFound, #favPlayedGame{text-align:center;font-size:24px;font-weight:400;word-break:break-all;margin-bottom:20px;}
#logoHolder{display:table-cell;position:relative;vertical-align:middle;}
#onlyRolaGames{position:relative;width:100%;height:auto;display:table;}
#leftGirlHolder{float:left;}
#rightGirlHolder{float:right;}
.no-game-found-girl-holder{display:table-cell;position:relative;}
#gameNameSort{z-index:10;}
.walletPopulateList:first-child{padding-top:40px;}
.gameMasterIcon{font-size:24px;position:absolute;margin-top:5px;color:lightgrey;cursor:pointer;}
.gameMasterIcon.gameViewIcon{position:relative;}
.gameMasterIcon.gameViewIcon.gridViewIcon{margin-right:10px;}
.gameMasterIcon.gameViewIcon.listViewIcon{margin-right:16px;}
.gameMasterIcon:hover, .gameMasterIcon.active{color:#33c85d;}
.twenty-five-padding-top{padding-top:5px;}
.zero-padding-top{padding-top:0;}
#searchFunctionPlaceHolder{display:none;padding-top:20px;}
.icon-fun88_bookmark_star_checked{color:#25aae1;font-weight:bolder;font-size:18px;}
.playNowHolder{font-size:16px;font-weight:bold;color:white;line-height:38px;margin:0;text-transform:uppercase;}
.demoDetailsBtn{font-size:16px;font-weight:bold;color:#ffffff;margin:0;line-height:38px;text-transform:uppercase;background-color:transparent;}
.newGameSlotGamePanelBoxWrap > .playNowHolder{font-size:12px;}
.btnPlayReal{border-radius:3px;line-height:10px;margin:10px auto;background-color:#3f97ff;cursor:pointer;width:50%;}
.slotGameTableWrapper{margin-bottom:0;}
.slotGameTableWrapper > tbody > tr > td{padding:0;}
.slotGameTableWrapper > tbody{border:0 solid #f1f1f1;background-color:#fff;}
.btnLiveDetail{width:133px;height:44px;border:3px solid #ffffff;border-radius:5px;line-height:38px;margin:0 auto 10px auto;cursor:pointer;}
.demoPlayBtn{color:#2199e8;font-size:14px;cursor:pointer;margin-bottom:0;}
.demoPlayBtn:hover{color:#1585cf;}
.btnPlayRealSmallIcon{width:100px;height:33px;border:3px solid #3f97ff;border-radius:5px;line-height:25px;margin:0 auto 10px auto;background-color:#3f97ff;cursor:pointer;}
.btnDemoRealSmallIcon{width:100px;height:33px;border:3px solid #ffffff;border-radius:5px;line-height:25px;margin:0 auto 10px auto;background-color:transparent;cursor:pointer;}
.btnPlayRealSmallIcon > .playNowHolder, .btnDemoRealSmallIcon > .demoDetailsBtn{font-size:13px;line-height:25px;}
.newGameTag{background-color:#33c85d;color:white;font-size:8px;font-weight:bolder;float:left;text-transform:uppercase;padding:2px;border-radius:3px;margin-top:5px;margin-right:5px;min-width:40px;height:15px;}
.newGameTag.show{display:block;}
.newGameTag.hide{display:none;}
.slotDropDownListSmallArrowButton{position:absolute;right:0;font-size:6px;color:#8e8e8e;padding-top:5px;}
.recentWinnerPlayLists{position:absolute;top:70px;overflow:hidden;max-height:265px;}
.gameBoardSelectionList{padding-top:20px;padding-bottom:0;font-size:14px;text-align:left;position:relative;padding-left:35px;}
.gameBoardSelectionList > div{padding-left:0;padding-right:0;}
.padTopTwelve{padding-top:12px;}
.padTopThirtyTwo{padding-top:32px;}
.feelLuckyIcon{width:71px;height:66px;top:19px;background-repeat:no-repeat;position:absolute;}
#feelLuckyDiceIcon{background:url(img/feel_lucky_dice_icon.png);}
#feelLuckySlotIcon{background:url(img/feel_lucky_slot_icon.png);width:61px;}
.feelLuckyText{text-transform:uppercase;font-weight:bolder;position:absolute;font-size:17px;top:13%;left:30%;}
.feelLuckyText.vi, .feelLuckyText.id{font-size:14px;}
.feelLuckyButton{text-transform:uppercase;width:125px;border-radius:4px;color:#ffffff;font-size:13px;font-weight:bold;padding:8px;position:absolute;top:45%;left:38%;cursor:pointer;}
.feelLuckyButton.id{width:150px;}
.feelLuckyButton.vi{width:170px;}
.NotSupportFree, .NotDemoFree{display:none;}
.SupportFree, .DemoFree{display:block;}
.SupportFree.inactive, .DemoFree.inactive{display:none;}
#firstLoadPanel > .slotholder.show.realign{margin-top:30px;}
.btnRealPlayLiveCasino{margin:0 auto !important;}
.btnPlayReal.playRealBtnNotSupportFree{margin:30px auto;}
.btnPlayRealSmallIcon.playRealBtnNotSupportFree{margin:10px auto;}
.btnDemoRealSmallIcon{margin:0 auto 10px auto;}
.icon-down_btn{float:left;padding-left:3px;position:absolute;top:11px;font-size:14px;}
#feelLuckySpin{background-color:#33c85d;}
#feelLuckyDownload{background-color:#3f97ff;}
.feelLuckyGamePanel{background-color:#f3f3f3;height:105px;max-height:105px;border:1px solid #dcdcdc;position:relative;}
.feelLuckyGamePanel:nth-child(n+2){margin-top:14px;}
.gameDetailsSelectionUl{list-style-type:none;margin:0;padding:0;}
.gameDetailsSelectionUl > li{display:inline-block;padding:0 25px;}
.gameDetailsSelectionUl > li:not(.game-name-selector){height:42px;}
.gameDetailsSelectionUl > li:not(:last-child){cursor:pointer;}
.gameDetailsSelectionUl > li.active{font-weight:bolder;color:#23aee1;}
.gameDetailsSelectionUl > li.active:after{content:' ';display:block;border:2px solid #23aee1;margin-top:20px;width:100%;}
.gameDetailsSelectionUl > li:first-child{padding-left:0;}
.gameDetailsSelectionUl > li.imgSorting > img{padding:0 12px;cursor:pointer;}
.gameNameInfoWrap{margin-top:10px;position:relative;display:inline-flex;}
.dropdown:hover .dropdown-content{display:block;}
.dropdown-content{display:none;position:absolute;background-color:#f9f9f9;min-width:96px;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);left:0;top:36px;width:100%;min-width:50px;}
.dropdown-content a{color:black;padding:12px 16px;text-decoration:none;display:block;cursor:pointer;text-align:center;}
.dropdown-content a:hover{background-color:#23aee1;color:white;}
.irs-bar{background:#1cbd64;border:#1cbd64;}
.irs-slider{border-radius:0;top:30px;width:15px;height:15px;}
.irs-line{border-radius:0;}
.irs{margin-top:-20px;}
#resultFilteringHolder{padding:0 25px;}
.filterTitle{font-weight:bolder;font-size:16px;}
.slotsGamesList > .newGameSlotGamePanelBoxWrap{min-height:220px;}
.vendorBetLimit, .vendorExtraInfo, #vendorGamePanel{padding:0;margin:0;}
#vendorGamePanel{max-width:100%;}
.vendorImageHolder{padding-right:0;margin-bottom:30px;}
.keno-Game-Wrapper{padding:0 25px !important}
.salProducts{background:#5657A7;color:white;}
.opusProducts{background:#E4A700;color:white;}
.tgpProducts, .tgp_slotProducts{background:#AB4505;color:white;}
.gdlProducts{background:#00693D;color:white;}
.agProducts{background:#F56205;color:white;}
.nleProducts {background:#df1964;color:white;}
.abtProducts{background:#00BDA9;color:white;}
.eaProducts{background:#B2140B;color:white;}
.boyProducts{background:#E72D00;color:white;}
.cpProducts{background:#F7BB49;color:white;}
.loadMoreLoading{width:30px;height:30px;margin-top:20px;}
.loadMoreLoadingPanel{display:none;text-align:center;}
.gameDescription{display:block;display:-webkit-box;height:40px;margin:0 auto;line-height:20px;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;margin-bottom:20px;text-align:left;}
.vendorBox{height:300px;}
.vendorBox.en, .vendorBox.id{height:305px;}
.vendorBox.th, .vendorBox.vi{height:280px;}
.vendorEnterButton{position:absolute;margin-top:-22px;right:0;}
.freePlayHolder{margin-top:-22px;}
@media only screen and (max-width:1760px){.feelLuckyText.id{left:25%;}
}
@media only screen and (max-width:1690px){.slotGamePanelBoxWrap{min-height:275px;}
.vendorBox{height:260px;}
.vendorBox.en, .vendorBox.id{height:260px;}
.vendorBox.th, .vendorBox.vi{height:260px;}
.padTopTwelve{padding-top:30px;}
.feelLuckyGamePanel{height:90px;}
.feelLuckyImageHolder{top:12px;}
.no-game-found-girl-holder{width:350px;}
.feelLuckyText{font-size:15px;}
.feelLuckyText.id{font-size:13px;}
}
@media only screen and (max-width:1580px){.feelLuckyText{top:14%;left:26%;}
.feelLuckyButton.vi, .feelLuckyButton{width:150px;}
.feelLuckyButton.id, .feelLuckyButton{left:33%;}
.feelLuckyText.id{left:21%;}
}
@media only screen and (max-width:1520px){.gameDetailsSelectionUl > li{padding:0 18px;}
.gameBoardSelectionList{font-size:12px;}
.padTopTwelve{padding-top:0px;}
.padTopThirtyTwo{padding-top:12px;}
}
@media only screen and (max-width:1490px){.listViewTryNow, .listViewDetail{width:115px;left:66%;}
#resultFilteringHolder{padding:0;}
.listViewPlayNow{width:115px;left:40%;}
.filterTitle, .chkBoxText{font-size:14px;}
#slotVendorDropDownList, #slotGameTypeDropDownList, #slotGameFeaturesDropDownList, #slotPayLineDropDownList{font-size:12px;}
.feelLuckyGamePanel{height:79px;}
.iconLucky, .iconLuckyDownload, .iconLuckyDownload{height:53px;}
.feelLuckyText, .feelLuckyText.vi{top:14%;left:28%;font-size:14px;}
.feelLuckyText.id{left:23%;font-size:12px;}
.jackpotCombineHolder{margin:15px auto 0;}
.feelLuckyText, .feelLuckyText.vi, .feelLuckyText.id{top:14%;left:28%;font-size:15px;}
.feelLuckyButton{left:35%;}
}
@media only screen and (max-width:1390px){.feelLuckyButton.vi, .feelLuckyButton{width:130px;font-size:11px;}
.feelLuckyText, .feelLuckyText.vi, .feelLuckyText.id{left:31%;font-size:13px;}
}
@media only screen and (max-width:1300px){.gameDetailsSelectionUl > li{padding:0 12px;}
.slotGamePanelBoxWrap{min-height:220px;}
.padTopTwelve{padding-top:25px;}
.gameNameInfoWrap{margin-top:3px;}
.gamesName, .vendorName{font-size:14px;}
.vendorName{margin-top:12px;}
.showAllHolder{margin-top:0;}
.totalJackpotDivHolder{top:-12px;}
.padTopThirtyTwo{padding-top:25px;}
.no-game-found-girl-holder{width:300px;}
.feelLuckyText.en, .feelLuckyText.vi, .feelLuckyText.th{font-size:11px;}
.feelLuckyText.id{font-size:10px;}
.feelLuckyButton.id{width:135px;left:30%;}
}
@media only screen and (max-width:1250px){.recentWinnerHolder{min-height:220px;}
.gamebannerImage{height:220px;}
.gamebannerContent{padding:20px 10px 10px;top:25px;}
.gamebannerTitle{font-size:30px;}
.gamebannerDesc{font-size:40px;}
.gamebannerMiniDesc{font-size:22px;}
.jackpotCombineHolder{margin:0px auto 0;}
.feelLuckyButton{font-size:12px;padding:6px;left:29%;top:37%;}
.icon-down_btn{top:8px;}
.feelLuckyText, .feelLuckyText.vi, .feelLuckyText.th, .feelLuckyText.en{left:27%;font-size:10px;}
.feelLuckyText.id{top:13%;left:30%;font-size:9px;}
.feelLuckyButton.id{top:40%;left:33%;font-size:11px;}
.feelLuckyGamePanel{height:70px;}
.iconLucky, .iconLuckyDownload, .iconLuckyDownload{height:42px;}
.slotsGamesList > .newGameSlotGamePanelBoxWrap{min-height:165px;}
.listViewPlayNow{width:115px;left:36%;}
.listViewTryNow, .listViewDetail{width:115px;left:62%;}
.listViewFontSize{font-size:12px;text-transform:uppercase;}
}
.keno-game-Vendor-Title{margin:5px 25px;font-size:22px;font-weight:bold;}
@media only screen and (max-width:1199px){.gameSearchBox{width:90%;}
.listViewPlayNow{width:115px;left:37%;}
.listViewTryNow{width:115px;left:62%;}
.gameDetailsSelectionUl > li{padding:0 8px;}
.slotGamePanelBoxWrap{min-height:190px;}
.btnPlayReal{width:115px;height:33px;line-height:25px;margin:8px auto;}
.btnLiveDetail{width:115px;height:33px;line-height:25px;}
.btnPlayRealSmallIcon, .btnDemoRealSmallIcon{width:89px;height:28px;line-height:20px;}
.btnPlayRealSmallIcon > .playNowHolder, .btnDemoRealSmallIcon > .demoDetailsBtn{font-size:12px;line-height:20px;}
.playNowHolder, .demoDetailsBtn{line-height:20px;font-size:13px;}
.feelLuckyButton.id{width:120px;font-size:10px;}
.feelLuckyText.id{left:25%;}
}
@media only screen and (max-width:1520px){
    #search-button-close{top:7px !important;}
}
@media only screen and (max-width:1099px){.gameSearchField{right:2%;}
.progressiveJackpotHolder > .icon-fun88_bookmark_star_checked{display:none;}
.livecasinoDetail{top:20%;}
.gameDetailsSelectionUl > li{padding:0 7px;}
.gameBoardSelectionList{font-size:11px;}
.freePlayHolder{margin-top:-5px;}
.chkBoxText{font-size:13px;}
.listViewTryNow, .listViewDetail{width:90px;left:65%;}
.listViewPlayNow{width:90px;left:42%;}
#search-button-close{right:55px !important;}
.gameSearchBox{width:100%;}
.feelLuckyButton.vi, .feelLuckyButton{width:120px;font-size:10px;}
.feelLuckyText.id{top:15%;font-size:8px;}
.feelLuckyButton.id{width:110px;font-size:9px;left:31%;}
}
@media only screen and (max-width:63em){.gameNameInfoWrap.gameNamePositioningGrid{display:table-cell;}
.jackpotBtn{position:relative;}
.totalJackpotAmountHolder{display:table;margin:0 auto;float:none;}
.listViewTryNow, .listViewDetail{width:150px;left:55%;}
.listViewPlayNow{width:150px;left:30%;}
.listView:nth-child(4n){background-color:transparent;}
.listView:nth-child(4n-1){background-color:transparent;}
.listView:nth-child(odd){background-color:rgb(242, 242, 242);}
.viewAllSpanWording{font-weight:bolder;color:#2199e8;font-size:14px;text-transform:uppercase;text-align:center;width:15%;}
.slotFilterUnorderedList{margin-bottom:1.5rem;}
.filterSectionHolder, .sortSectionHolder{background-color:#25aae1;position:relative;display:none;border-top:1px solid #cacaca;}
.filterTitle{font-size:36px;color:white;font-weight:bold;}
.filterVendorTitleName, .filterGameTypeName, .filterGameFeatures, .filterGameLine{font-size:16px;color:white;font-weight:bold;}
.chkBoxText, #fromAmount, #toAmount{color:white;}
.slotDropDownListSmallArrowButton{right:5px;color:#ffffff;top:13px;}
.btnPlayReal.playRealBtnNotSupportFree, .btnPlayRealSmallIcon.playRealBtnNotSupportFree{margin:15px auto;width:115px;height:33px;line-height:25px;}
.btnPlayRealSmallIcon > .playNowHolder, .btnDemoRealSmallIcon > .demoDetailsBtn{font-size:13px;}
.slotsGamesList > .newGameSlotGamePanelBoxWrap{min-height:220px;}
}
@media only screen and (max-width:950px){
.gamebannerImage{height:220px;}
.gamebannerContent{padding:20px 10px 10px;top:25px;}
.gamebannerTitle{font-size:30px;}
.gamebannerDesc{font-size:40px;}
.gamebannerMiniDesc{font-size:22px;}
.padTopTwelve{padding-top:0px;}
.viewAllSpanWording{width:10%;}
#mobile-sort-ddl-holder{font-size:16px;min-height:0;}
#mobile-sort-ddl > li{font-size:16px;padding:10px 15px;}
.mobileRadioBoxWrap{margin-top:0;}
#titleSorting{padding:10px 15px;}
.icon-filter_expand{right:20px;top:19px;}
}
@media only screen and (max-width:899px){
.newGameSlotGamePanelBoxWrap{min-height:170px;}
.feelLuckyButton, .feelLuckyButton.id, .feelLuckyButton.vi{font-size:9px;}
.icon-down_btn{top:6px;}
.feelLuckyText{left:24%;top:11%;}
.feelLuckyButton, .feelLuckyButton.vi{width:105px;}
}
@media only screen and (max-width:830px){.feelLuckyText{left:23%;top:19%;}
.slotGamePanelBoxWrap{min-height:190px;}
.feelLuckyButton, .feelLuckyButton.vi{width:110px;top:45%;}
.feelLuckyButton.id{top:40%;}
.feelLuckyText.id{font-size:8px;}
.feelLuckyButton.vi{width:110px;top:58%;}
.feelLuckyButton.id{top:35%;}
.icon-down_btn{padding-left:0px;}
.downloadFeelLuckyText{margin-left:17px;}
}
@media only screen and (max-width:815px){
.game-overlay > .playNowIconOverlay{width:55px;}
.livecasinoDetail{top:16%;}
.feelLuckyText{left:17%;top:10%;}
.viewAllSpanWording{width:14%;}
.gameh-centerwrap{width:55px;height:50px;border-radius:50%;position:absolute;transition:all .7s ease;}
.feelLuckyText.en, .feelLuckyText.vi, .feelLuckyText.th{font-size:9px;}
.feelLuckyButton.id{width:100px;left:30%;}
.feelLuckyText.id{left:20%;}
}
@media only screen and (max-width:753px){.livecasinoDetail{top:13%;}
#firstLoadPanel > .slotholder.show:last-child{margin-top:60px;}
.totalJackpotDivHolder{top:-70px;}
.feelLuckyButton, .feelLuckyButton.vi{width:100px;font-size:8px;}
.feelLuckyText.id{font-size:7px;left:24%;}
}
@media only screen and (max-width:725px){.feelLuckyText.en, .feelLuckyText.vi, .feelLuckyText.th{font-size:8px;}
.feelLuckyText.id{font-size:7px;left:22%;}
.feelLuckyButton.id{width:95px;font-size:8px;}
.freePlayHolder.id{font-size:0.8em;margin-top:-16px;}
.gamesName.id{font-size:0.8em;}
}
@media only screen and (max-width:690px){.feelLuckyButton.id{width:85px;font-size:7px;left:33%;top:50%;}
.feelLuckyText.id{font-size:8px;left:25%;}
.feelLuckyButton, .feelLuckyButton.vi{width:95px;}
.slotsGamesList > .newGameSlotGamePanelBoxWrap{min-height:145px;}
.mobileTitleFilter{font-size:18px;font-weight:lighter;padding:25px 0px 10px 15px;display:block;}
}
@media only screen and (max-width:640px){.vendorEnterButton{position:inherit;margin-top:0;}}
@media only screen and (max-width:660px){.feelLuckyText.en, .feelLuckyText.vi, .feelLuckyText.th{font-size:7px;}
.feelLuckyButton, .feelLuckyButton.vi{width:90px;font-size:7px;}
}
@media only screen and (max-width:639px){.listViewTryNow, .listViewDetail{width:120px;left:60%;}
.game-overlay > .playNowIconOverlay{width:70px;}
.gameh-centerwrap{width:65px;height:55px;}
.listViewPlayNow{width:115px;left:38%;}
.slotsGamesList > .newGameSlotGamePanelBoxWrap{min-height:250px;}
.filterTitle{font-size:18px;}
.filterVendorTitleName, .filterGameFeatures, .filterGameLine, .filterGameTypeName{font-size:12px;}
.slotDropDownListSmallArrowButton{right:12px;top:10px;}
.slotGamePanelBoxWrap{min-height:255px;}
.padTopTwelve{padding-top:30px;}
.newGameSlotGamePanelBoxWrap{min-height:230px;}
.padTopThirtyTwo{padding-top:45px;}
.feelLuckyGamePanel{height:81px;}
.feelLuckyGamePanel.id{height:100px;}
.iconLucky, .iconLuckyDownload, .iconLuckyDownload{height:55px;}
.feelLuckyText, .feelLuckyText.en, .feelLuckyText.vi, .feelLuckyText.th{left:26%;top:16%;font-size:14px;}
.feelLuckyText.id{font-size:11px;}
.feelLuckyButton, .feelLuckyButton.vi{width:160px;top:42%;font-size:13px;}
.feelLuckyButton.id{width:140px;top:45%;font-size:12px;}
.icon-down_btn{top:9px;}
}
@media only screen and (max-width:545px){.feelLuckyText.en, .feelLuckyText.vi, .feelLuckyText.id, .feelLuckyText.th{font-size:12px;}
.feelLuckyButton.id{top:50%;}
.feelLuckyButton{width:135px;}
}
@media only screen and (max-width:520px){
.mobileSortPanelSortTitlesHolder{font-size:14px;}
.game-overlay > .playNowIconOverlay{width:70px;}
.slotsGamesList > .newGameSlotGamePanelBoxWrap{min-height:200px;}
.listViewTryNow, .listViewDetail{width:100px;left:66%;}
.listViewPlayNow{width:100px;left:43%;}
.feelLuckyGamePanel{height:63px;}
.feelLuckyGamePanel.id{height:85px;}
.iconLucky, .iconLuckyDownload, .iconLuckyDownload{height:40px;}
.feelLuckyButton.id{width:120px;top:58%;font-size:11px;left:35%;}
.feelLuckyButton.id#feelLuckyDownload{top:43%;}
.feelLuckyButton.vi{width:135px;font-size:11px;}
.icon-down_btn{top:7px;}
.feelLuckyText, .feelLuckyText.vi, .feelLuckyText.id{font-size:12px;}
.viewAllSpanWording{width:25%;}
.viewAllSpanWording.en{width:28%;}
.viewAllSpanWording.vi{width:33%;}
}
@media only screen and (max-width:490px){.slotGamePanelBoxWrap{min-height:220px;}
.recentWinnerHolder{min-height:180px;z-index:1000;}
.gamebannerImage{height:180px;}
.gamebannerContent{padding:20px 10px 10px;top:25px;}
.gamebannerTitle{font-size:18px;}
.gamebannerDesc{font-size:24px;}
.gamebannerMiniDesc{font-size:12px;}
.padTopTwelve{padding-top:0;}
.feelLuckyButton.id{left:30%;top:54%;font-size:10px;}
.feelLuckyText, .feelLuckyText.vi, .feelLuckyText.id, .feelLuckyText.en, .feelLuckyText.th{left:23%;top:14%;font-size:11px;}
.newGameSlotGamePanelBoxWrap{min-height:200px;}
.icon-fun88_bookmark_star_checked{font-size:16px;}
.jackpotPrizeWording{font-size:18px;}
.jackpotTotalAmount{font-size:16px;}
}
@media only screen and (max-width:450px){.feelLuckyText.en, .feelLuckyText.vi, .feelLuckyText.id, .feelLuckyText.th{font-size:10px;}
.feelLuckyButton, .feelLuckyButton.vi{width:120px;font-size:10px;}
}
@media only screen and (max-width:420px){.slotGamePanelBoxWrap{min-height:200px;}
.gameNamePositioningGrid{margin-left:auto;margin-top:5px;}
.rolaImageNoGame{height:320px;}
.gamesNumberMobileHolder{font-size:14px;}
.gamesNumberMobileHolder.vi{font-size:10px;}
.mobileSortPanelSortTitlesHolder{font-size:12px;}
.feelLuckyText, .feelLuckyText.vi, .feelLuckyText.id{left:31%;top:19%;font-size:9px;}
.listViewPlayNow{width:76px;left:43%;}
.listViewTryNow, .listViewDetail{width:76px;left:66%;}
.feelLuckyButton{width:100px;font-size:9px;}
.feelLuckyButton.vi, .feelLuckyButton.id{width:100px;font-size:8px;}
.feelLuckyButton.id{left:35%;}
.icon-down_btn{top:5px;}
.slotsGamesList > .newGameSlotGamePanelBoxWrap{min-height:170px;}
.game-overlay > .playNowIconOverlay{width:50px;}
.gameh-centerwrap{width:55px;height:55px;}
}
@media only screen and (max-width:390px){
.listViewPlayNow{width:76px;left:30%;}
.listViewTryNow, .listViewDetail{width:76px;left:56%;}
.slotsGamesList > .newGameSlotGamePanelBoxWrap{min-height:155px;}
.btnPlayReal{margin:10px auto;width:89px;height:28px;line-height:20px;}
.btnLiveDetail{width:89px;height:28px;line-height:20px;}
.btnPlayReal.playRealBtnNotSupportFree{margin:10px auto;}
.playNowHolder, .demoDetailsBtn{font-size:12px;line-height:23px;}
.dark-grey-bold-text{font-size:13px;}
.newGameSlotGamePanelBoxWrap{min-height:160px;}
.feelLuckyText, .feelLuckyText.vi, .feelLuckyText.th, .feelLuckyText.en{left:23%;top:12%;font-size:8px;}
.feelLuckyButton{width:84px;font-size:8px;}
.feelLuckyButton.vi, .feelLuckyButton.id{width:90px;font-size:7.5px;}
.feelLuckyGamePanel:nth-child(n+2){margin-top:5px;}
.icon-fun88_bookmark_star_checked{font-size:14px;}
.jackpotPrizeWording{font-size:16px;}
.jackpotTotalAmount{font-size:14px;}
.filterVendorTitleName, .filterGameFeatures, .filterGameLine, .filterGameTypeName{font-size:10px;}
.slotDropDownListSmallArrowButton{top:8px;}
}
@media only screen and (max-width:320px){.filterTitle{font-size:18px;}
.keno-Game-Wrapper{padding:0 !important}
}
