﻿#chkTnc tbody, #reminder tbody {
    border: 1px solid #ffffff;
}

#txtDob {
    cursor: pointer !important;
    background-color: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #2c2c2c;
    padding-right: 35%;
}

.inputSection .white {
    background-color: #dcdcdc;
    border-radius: 5px;
}

#divMsg {
    text-align: center;
    display: none;
    margin-bottom: 10px;
}

.msg_failed {
    color: red;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

.msg_success {
    color: green;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
}

.requiredField {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.registerTitle {
    text-align: center;
    padding-top: 15px;
}

.subtitle {
    height: 45px;
    padding-top: 10px;
    color: #0747A6;
    background: #f3f3f3;
    font-weight: bold;
    position: relative;
    padding-left: 14px;
}

#ContactInfoSection {
    padding-bottom: 15px;
}

.submitButton {
    color: #ffffff;
    background-color: #3f97ff;
    display: block;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    min-width: 105px;
}

.cancelButton {
    color: #3f97ff;
    background-color: #fff;
    border: 1px solid #3f97ff;
    display: block;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    min-width: 105px;
}

.lastColumn, .lastColumn-postal, .lastColumn-city {
    float: left !important;
    margin-top: -10px;
    margin-bottom: 5px;
}

    .lastColumn .error, .lastColumn-postal .error, .lastColumn-city .error {
        border: 1px solid #F8D4D4;
        border-radius: 5px;
        background: #FFEBEB;
        padding: 8px;
        font-size: 12px;
        color: black;
    }

#BasicInfoSection, #AccountInfoSection, #ContactInfoSection {
    margin-top: 5px;
}

    #BasicInfoSection p, #AccountInfoSection p, #ContactInfoSection p {
        margin-bottom: 0 !important;
    }

    #BasicInfoSection .has-tip, #AccountInfoSection .has-tip, #ContactInfoSection .has-tip {
        cursor: default;
    }

#txtCity {
    display: none;
}

#txtPlus, #txtCountryCode {
    text-align: center;
    height: 100%;
    display: block;
    border-radius: 5px;
    border: 1px solid #cacaca;
    line-height: 30px;
}

.inputTextField {
    position: relative;
}

    .inputTextField input::-ms-clear {
        display: none !important;
    }

#txtDob:-ms-input-placeholder {
    color: #cacaca !important;
}

.rowDOB .inputTextField .icon-tick-circle-button {
    position: absolute;
    height: 22px;
    width: 22px;
    right: 9% !important;
    top: 15% !important;
    font-size: 20px;
    color: #33c85d !important;
}

.rowDOB .inputTextField .icon-close-circle-button {
    position: absolute;
    height: 22px;
    width: 22px;
    right: 9% !important;
    top: 15% !important;
    font-size: 20px;
    color: #f5161b !important;
}

.inputTextField .icon-tick-circle-button {
    position: absolute;
    height: 22px;
    width: 22px;
    right: 6% !important;
    top: 15% !important;
    font-size: 20px;
    color: #33c85d !important;
}

.inputTextField .icon-close-circle-button {
    position: absolute;
    height: 22px;
    width: 22px;
    right: 6% !important;
    top: 15% !important;
    font-size: 20px;
    color: #f5161b !important;
}

#txtCityField .icon-tick-circle-button {
    color: #33c85d !important;
    font-size: 20px;
    right: 15% !important;
}

#txtPostalField .icon-close-circle-button {
    color: #f5161b !important;
    font-size: 20px;
    right: 13% !important;
}

#txtPostalField .icon-tick-circle-button {
    color: #33c85d !important;
    font-size: 20px;
    right: 13% !important;
}

.subtitle .icon-close-circle-button {
    color: #f5161b !important;
    font-size: 40px;
    margin-top: -7px;
    padding-right: 8px;
}

.subtitle .icon-tick-circle-button {
    color: #33c85d !important;
    font-size: 40px;
    font-size: 40px;
    margin-top: -7px;
    padding-right: 8px;
}

.step {
    position: absolute;
    height: 20px;
    width: 27px;
    right: 20px;
    top: 15px;
}

.part {
    vertical-align: middle;
    display: none;
}

#BasicInput {
    margin-top: 20px;
}

.icon-fun88_arrow_thick_down {
    color: #2c2c2c;
}


#Basic, #Account, #Contact {
    display: inline-block;
}

.subtitle:hover {
    cursor: pointer;
}

.datepicker.dropdown-menu {
    min-width: 250px !important;
}

.datepicker table {
    width: 100% !important;
}

#txtSurname, #txtName, #txtEmail, #txtSecurityAnswer, #txtAddress {
    padding-right: 13%;
}

#txtContactNum, #txtCity {
    padding-right: 25%;
}

.bgTrans{
    background-color: rgba(255,255,255,0.6); 
}

.divRegis{
    max-width: 96rem !important;
}

#topQQ:hover {
    background-position: 0px -265px;
}

#bottomQQ:hover {
    background-position: 0px -102px;
}

#QQLiveChat .wrapper {
    margin: 0;
}

.topLeftQQ {
    top: 10px;
    left: 10px;
}

.topRightQQ {
    top: 10px;
    right: 10px;
}

.bottomLeftQQ {
    bottom:25px;
}

.bottomRightQQ {
    bottom: 25px;
    right: 10px;
}

#QQLiveChat {
    padding: 0;
    border: none;
    z-index: 9999;
    position: fixed;
}

    #QQLiveChat .icon-close-circle-button {
        color: white;
        font-size: 20px;
    }

#QQLiveChat {
    width: 400px;
}

input, select {
    border-radius: 5px !important;
}

select {
    padding-right: 80px !important;
}

.ui-datepicker-title select {
    padding-right: 0px !important;
}

#ddlCountry, #ddlNationality, #ddlPlaceofBirth, #ddlPreferredCurrency, #ddlPreferredWallet, #txtCountryCode, #txtPlus {
    background-color: #dcdcdc;
}

#chkRegTable tr{
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

#chkRegTable{
    border-color: #ffffff !important;
    border-collapse: initial;
    margin-bottom: 0px !important;
}

.genderselected{
    background-color: #0747A6;
    color: #ffffff;
}

.genderNonselected{
    border: 1px solid #0747A6;
    color: #2c2c2c;
    background-color: #ffffff;
}

#MainContainer {
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    #registrationPart{
        background: none !important;
    }
}

@media only screen and (max-width: 1225px) {
    #txtDob {
        font-size: 13px;
    }
}

@media only screen and (max-width: 640px) {
    #txtDob {
        font-size: 16px;
    }

    #QQLiveChat {
        width: 313px !important;
    }

    #topQQ {
        background-size: 310px;
        width: 306px !important;
        height: 150px !important;
    }

    #bottomQQ {
        width: 306px !important;
        background-size: 310px;
        height: 52px !important;
    }

    #topQQ:hover {
        background-position: 0 -217px;
    }

    #bottomQQ:hover {
        background-position: 0 -85px;
    }

    #btnQQClose {
        top: 2px;
    }
}
