﻿.slick-dots {
    margin:0;
    position:absolute;
    width:100%;
    text-align:center;
    top:0;
}

.slick-dots li {
   padding-top:26px;
   display:inline-block;
}
.slick-dots li div {
    display: inline-block;
    font-size: 1.3em;
    padding-bottom: 11px;
    cursor: pointer;
    min-width:250px;
    margin-left:5px;
    margin-right:5px;
}
.slick-dots li:hover div {
    font-weight:600;
}
.slick-dots li.slick-active div {
    color:#0747A6;
    border-bottom:5px solid #0747A6;
    font-weight:600;
}

.top-content {
    margin-top:1.5%;
    text-align:center;
}
.top-content div{
    display:inline-block;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.3em;
    padding-bottom: 0.8%;
    cursor:pointer;
}
.top-content div a{
    color:#000;
}
.top-content .active{

    border-bottom:4px solid #25aae1;
    font-weight:600;
            
}
.top-content .active a{
    color:#25aae1;
}
.slick-slide {
    outline: none !important;
}

.slick-next,
.slick-prev {
    cursor:pointer;
    position: absolute;
    color:#fff;
    font-weight:800;
}

.slick-next
{
    float: right;
    right: 4%;
    top: 26%;
    font-size:50px;
    height:50px;
    z-index: 1;
}
.slick-prev
{
    float: left;
    left: 4%;
    top: 26%;
    font-size:50px;
    z-index: 1;
    height:50px;
}

#sportbook-content .content-style {
    margin-top:70px;
    margin-left:10px;
    margin-right:10px;
}
#sportbook-content .content-style .banner-content {
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#sportbook-content .content-style .banner-content img:first-child {
    display: inline;
    padding: 10px;
    height: 30%;
}
#sportbook-content .content-style .banner-content .Im-Esport-logo{
    height: 50% !important;
}
#sportbook-content .content-style .banner-content .banner-character {
    height: 100%;
    position: relative;
    top: -10%;
}
#sportbook-content .content-style .banner-content .Im-Esport-character {
    top:-30% ;
}


#sportbook-content .content-style .sportbook-content-style {
    display:inline-block;
}
#sportbook-content .content-style .sportbook-desc {
    width:30%;

}
#sportbook-content .content-style .sportbook-desc .desc-btn {
    margin-top:10px;
}
#sportbook-content .content-style .sportbook-desc .desc-btn a{
    display: inline-block;
    color: #fff;
    background-color: #0747A6;
    padding-top: 6px;
    width: 48%;
    border-radius: 3px;
    text-align:center;
    height:35px;
}
#sportbook-content .content-style .sportbook-element {
    padding-top:8%;
    padding-left:3%;
    padding-right:3%;
}

.content-style .sportbook-selection .selection {
    float:left;
    text-align:center;
    margin-top:30px;
    padding-top:10px;
    cursor:pointer; 
    width:16%;
    height:140px;

}
#sportbook-content .content-style .sportbook-selection .selection-align {
    width:20%;
}
#sportbook-content .content-style .e-sport-selection .selection-align {
    width:25% !important;
}
.content-style .sportbook-selection .selection a{
    outline: none;
    color:#000;
}

#sportbook-content .content-style .sportbook-selection .selection a:hover {
    color:#25aae1;
}

#sportbook-content .content-style .sportbook-selection div .icon{
    font-size:2em;
    padding-bottom:20px;
         
}

#sportbook-content #IM-Esport .content-style .sportbook-selection div .icon {
    height:100px !important;     
}


#sportbook-content .content-style .title{
    font-size:3em;
    color:#0747A6;
    margin-bottom:10px;
    font-weight:600;
}





@media screen and (max-width:1600px) {
    #IM-Esport .content-style .sportbook-selection .selection {
        width: 160px !important;
    }
}
@media screen and (max-width:1320px) {

    #sportbook-content .content-style .sportbook-desc .desc-btn button {
        width:130px;
    }
    .content-style .sportbook-selection .selection {
       
        width: 25%;
      
    }
    #sportbook-content .content-style .title{
        font-size:2.5em;
    }
}


@media screen and (max-width: 1179px) {
    #sportbook-content .content-style .title{
    font-size:2.3em;
    }
    #sportbook-content .content-style .sportbook-desc .desc-btn button {
        width:118px;
    }
    .slick-dots li {
       padding-top:14px;
       display:inline-block;
    }
    .slick-dots li div {
        font-size:1em;
    }

    .slick-dots li.slick-active div {
        color:#0747A6;
        border-bottom:4px solid #0747A6;
        font-weight:600;
    }
    #sportbook-content .content-style {
        margin-top:50px;
    }
}
@media screen and (min-width: 1024px) {
    #sportbook-content .content-style .sportbook-selection .selection:not(:last-child) {
        border-right:1px solid #ccc;
    }

    #sportbook-content .content-style .sportbook-selection {
        float:right;
        width:55%;
    }
}

@media screen and (max-width: 1023px) {
     .top-content {
        margin-top:1.5%;
        text-align:center;
        overflow: scroll;
        white-space: nowrap;
    }
    .slick-next
    {
        top: 21%;
        height:40px;
    }
    .slick-prev
    {
        top: 21%;
        height:40px;
    }
   .slick-dots {
      overflow: scroll;
      white-space: nowrap;
    }

   .slick-dots li div {
        font-size:1em;
        min-width:150px;
        padding-left: 0;
        padding-right:0;
    }
    #sportbook-content .content-style .banner-content {
        height:350px;

    }
    #sportbook-content .content-style {
        margin: 0;
        margin-top:50px;
        margin-left:5px;
        margin-right:5px
    }
    #sportbook-content .content-style .sportbook-content-style {
        text-align:center;
        display:block;
    }
    #sportbook-content .content-style .sportbook-desc {
        width:100%;
        margin:0;
        margin-top:10px;
    }
    #sportbook-content .content-style .sportbook-desc .desc{
       text-align:justify;
       text-align-last:center;
    }
    #sportbook-content .content-style .sportbook-selection .selection {
        width:25%;
    }
    #sportbook-content .content-style .sportbook-selection .selection-align {
        width:25%;
    }
}
@media screen and (max-width:700px) {
    .slick-dots li div {
        font-size:1em;
        min-width:120px
    }

    .slick-dots li.slick-active div {
        color:#0747A6;
        border-bottom:4px solid #0747A6;
        font-weight:600;
    }
    #sportbook-content .content-style {
        margin-top:50px;
    }
    .top-content div {
        font-size: 1em;
    }
    #sportbook-content .content-style .banner-content {
        height:250px;
    }
    .slick-next
    {
        top: 16%;
        height:30px;
    }
    .slick-prev
    {
        top: 16%;
        height:30px;
    }
    #sportbook-content .content-style .sportbook-selection .selection {
        width:33%;
    }
    #sportbook-content .content-style .sportbook-selection .selection-align {
        width:33%;
    }
    #sportbook-content .content-style .e-sport-selection .selection-align {
        width:49% !important;
    }
    #sportbook-content .content-style .e-sport-selection .selection-align {
        width:49% !important;
    }
    #sportbook-content .content-style .banner-content img:first-child {
        height: 38%;
    }
    #sportbook-content .content-style .sportbook-element {
        padding-top:10%;
    }
}
@media screen and (max-width:610px) {
    .slick-dots li {
        padding-top: 10px;
    }
    .slick-dots li div {
        font-size:0.8em;
        min-width:80px;
        margin-left:5px;
        margin-right:5px;
        padding-bottom:6px;
        
    }

    .slick-dots li.slick-active div {
        color:#0747A6;
        border-bottom:4px solid #0747A6;
        font-weight:600;
    }
    #sportbook-content .content-style {
        margin-top:40px;
    }
}
@media screen and (max-width:554px) {
            

    #sportbook-content .content-style .sportbook-selection {
        text-align:left;
    }
}
@media screen and (max-width:525px) {
    #sportbook-content .content-style .sportbook-selection-align {
        text-align:center !important;
    }

    #sportbook-content .content-style .banner-content img {
        height: 20%;
    }

            
}
@media screen and (max-width:400px) {

    .slick-dots li div {
        font-size:0.8em;
        min-width:70px;
        padding-bottom:6px;
        
    }
    .top-content div {
        font-size: 0.8em;
    }
    .slick-next
    {
       
        top: 16%;
        height:30px;
    }
    .slick-prev
    {
        top: 16%;
        height:30px;
    }
    #sportbook-content .content-style .title {
        font-size:2em;
    }
    #sportbook-content .content-style .sportbook-desc .desc-btn button{

        height:35px;
        width:140px;
    }
    #sportbook-content .content-style .banner-content {
        height:200px;
    }
    #sportbook-content .content-style .sportbook-selection div .icon{
            font-size:1.8em;
            padding-bottom:20px;
    }

}

@media screen and (max-width:360px) {
    #sportbook-content .content-style .banner-content {
        height:150px;
    } 
    #sportbook-content .content-style .banner-content img {
        height: 25%;
    }
    .slick-next
    {
        top: 11%;
        height:30px;
    }
    .slick-prev
    {
        top: 11%;
        height:30px;
    }
}
