/* Pretty printing styles. Used with prettify.js. */


/* SPAN elements with the classes below are added by prettyprint. */

.pln {
	color: #000
}


/* plain text */

@media screen {
	.str {
		color: #080
	}
	/* string content */
	.kwd {
		color: #008
	}
	/* a keyword */
	.com {
		color: #800
	}
	/* a comment */
	.typ {
		color: #606
	}
	/* a type name */
	.lit {
		color: #066
	}
	/* a literal value */
	/* punctuation, lisp open bracket, lisp close bracket */
	.pun,
	.opn,
	.clo {
		color: #660
	}
	.tag {
		color: #008
	}
	/* a markup tag name */
	.atn {
		color: #606
	}
	/* a markup attribute name */
	.atv {
		color: #080
	}
	/* a markup attribute value */
	.dec,
	.var {
		color: #606
	}
	/* a declaration; a variable name */
	.fun {
		color: red
	}
	/* a function name */
}


/* Use higher contrast and text-weight for printable form. */

@media print,
projection {
	.str {
		color: #060
	}
	.kwd {
		color: #006;
		font-weight: bold
	}
	.com {
		color: #600;
		font-style: italic
	}
	.typ {
		color: #404;
		font-weight: bold
	}
	.lit {
		color: #044
	}
	.pun,
	.opn,
	.clo {
		color: #440
	}
	.tag {
		color: #006;
		font-weight: bold
	}
	.atn {
		color: #404
	}
	.atv {
		color: #060
	}
}


/*
	SUNBURST THEME (customized)
*/


/* Pretty printing styles. Used with prettify.js. */


/* Vim sunburst theme by David Leibovic */

pre .str,
code .str {
	color: #65B042;
}


/* string  - green */

pre .kwd,
code .kwd {
	color: #E28964;
}


/* keyword - dark pink */

pre .com,
code .com {
	color: #AEAEAE;
	font-style: italic;
}


/* comment - gray */

pre .typ,
code .typ {
	color: #89bdff;
}


/* type - light blue */

pre .lit,
code .lit {
	color: #3387CC;
}


/* literal - blue */

pre .pun,
code .pun {
	color: #fff;
}


/* punctuation - white */

pre .pln,
code .pln {
	color: #fff;
}


/* plaintext - white */

pre .tag,
code .tag {
	color: #89bdff;
}


/* html/xml tag    - light blue */

pre .atn,
code .atn {
	color: #bdb76b;
}


/* html/xml attribute name  - khaki */

pre .atv,
code .atv {
	color: #65B042;
}


/* html/xml attribute value - green */

pre .dec,
code .dec {
	color: #3387CC;
}


/* decimal - blue */

pre.prettyprint,
code.prettyprint {
	background-color: #000;
}

pre.prettyprint {
	width: auto;
	margin: 0;
	padding: 20px 50px;
	white-space: pre-wrap;
}

pre.prettyprint ol {
	margin: 0;
}

pre.prettyprint ol li {
	list-style: none;
	margin: 0 0 2px 0;
}

@media print {
	pre .str,
	code .str {
		color: #060;
	}
	pre .kwd,
	code .kwd {
		color: #006;
		font-weight: bold;
	}
	pre .com,
	code .com {
		color: #600;
		font-style: italic;
	}
	pre .typ,
	code .typ {
		color: #404;
		font-weight: bold;
	}
	pre .lit,
	code .lit {
		color: #044;
	}
	pre .pun,
	code .pun {
		color: #440;
	}
	pre .pln,
	code .pln {
		color: #000;
	}
	pre .tag,
	code .tag {
		color: #006;
		font-weight: bold;
	}
	pre .atn,
	code .atn {
		color: #404;
	}
	pre .atv,
	code .atv {
		color: #060;
	}
}