/* reset.css
 * The purpose of this stylesheet is to set default styles for common browsers and address common issues (missing scrollbar, extended buttons in IE, gap below images, etc.)
 */

html,
body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

body {
	background: #fff;
	color: #000;
	position: relative;
}

pre,
tt,
code,
kbd,
samp,
var {
	font-family: "Courier New", Courier, monospace;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

a {
	text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

a,
input,
textarea,
select,
optgroup,
option {
	outline: none;
}

body,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
label,
input,
button,
textarea,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 5px;
}

h2 {
	margin-top: 30px;
}

h3 {
	margin-top: 26px;
}

h4,
h5,
h6 {
	margin-top: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
}

p,
li {
	margin-bottom: 10px;
	margin-top: 0;
}

fieldset,
img,
a img {
	border: 0;
}

img {
	vertical-align: bottom;
}

ol li {
	list-style-type: decimal;
}

ol ol li {
	list-style-type: lower-alpha;
}

ol ol ol li {
	list-style-type: lower-roman;
}

ul li {
	list-style-type: disc;
}

ul ul li {
	list-style-type: circle;
}

ul ul ul li {
	list-style-type: square;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

legend {
	color: #000;
	padding-bottom: 5px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption {
	display: none;
}

code {
	color: #06f;
}

code,
pre {
	font-size: small;
}

blockquote p:before,
blockquote p:after,
q:before,
q:after {
	content: '';
}

th,
strong,
dt,
b {
	font-weight: bold;
}

dd {
	padding-left: 20px;
	margin-top: 5px;
}

li {
	margin-left: 40px;
}

fieldset {
	line-height: 1;
}

input.checkbox {
	vertical-align: bottom;
	*vertical-align: baseline;
}

input.radio {
	vertical-align: text-bottom;
}

input.text {
	_vertical-align: text-bottom;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-size: 90%;
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	*overflow: visible;
	_width: 0;
	padding: .2em .4em;
	cursor: pointer;
}