#CloseRouletteOnce, #CloseRouletteToday {
        cursor: pointer;
        padding: 5px 15px;
        color: #fff;
        background-color: #3f97ff;
        border-radius: 3px;
        font-weight: bold;
        font-size: 15px;
        margin-right: 1px;
        margin-left: 40px;
    }

    @media screen and (max-width: 1023px) {
        #leftSideBannerContainer {
            margin-bottom: 50px;
        }
    }

    @media screen and (min-width: 320px) {
        #imgSideBannerReminder {
            position: absolute !important;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    #leftSideBannerContainer {
        position: fixed;
        bottom: 0;
        z-index: 999;
        left: 0;
    }

    .closeSideBannerBtn {
        right: 0px;
        width: 25px;
        height: 25px;
        position: absolute;
        cursor: pointer;
        background: url('../../../../www.enhuoyea11.net/Images/header/allicons.png') no-repeat;
        background-position: -641px -5px;
    }

    @media only screen and (min-width:680px) and (max-width:1023px) {

        #imgSideBannerMobile {
            width: 240px !important;
        }
    }

        @media only screen and (max-width:679px) {
            #imgSideBannerMobile {
                width: 220px !important;
            }
        
        }
}

.modal-content-accClosed-message {
        font-size: 14px;
        color: #2c2c2c;
        word-wrap: break-word;
    }

    #livechatbtn {
        background-color: #25aae1;
        padding: 15px 30px 15px 30px;
        font-size: 18px;
        margin-left: 26%;
        border-radius: 5px;
        color: white !important;
    }

    #findoutmorebtn {
        background-color: #33c85d;
        padding: 15px 30px 15px 30px;
        font-size: 18px;
        margin-right: 26%;
        border-radius: 5px;
        color: white !important;
    }

    #livechatbtnTH {
        background-color: #25aae1;
        padding: 15px 15px 15px 15px;
        font-size: 16px;
        margin-left: 26%;
        border-radius: 5px;
        color: white !important;
    }

    #findoutmorebtnTH {
        background-color: #33c85d;
        padding: 15px 25px 15px 25px;
        font-size: 16px;
        margin-right: 26%;
        border-radius: 5px;
        color: white !important;
    }

        #livechatbtnVN {
        background-color: #25aae1;
        padding: 15px 12px 15px 12px;
        font-size: 16px;
        margin-left: 26%;
        border-radius: 5px;
        color: white !important;
    }

    #findoutmorebtnVN {
        background-color: #33c85d;
        padding: 15px 20px 15px 20px;
        font-size: 16px;
        margin-right: 26%;
        border-radius: 5px;
        color: white !important;
    }

    #findoutmorebtnEN {
        background-color: #33c85d;
        padding: 15px 30px 15px 30px;
        font-size: 16px;
        margin-right: 26%;
        border-radius: 5px;
        color: white !important;
    }

    #findoutmoredivID {
        margin-right: 26%;
    }

    #findoutmorebtnID {
        background-color: #33c85d;
        font-size: 16px;
        border-radius: 5px;
        text-align: center;
        margin-top: -8%;
        color: white !important;
    }

    #livechatbtnID, #livechatbtnEN {
        background-color: #25aae1;
        padding: 15px 35px 15px 35px;
        font-size: 16px;
        margin-left: 26%;
        border-radius: 5px;
        color: white !important;
    }

    #linktxt1, #linktxt2 {
        color: #25aae1;
        cursor: pointer;
        font-weight: bold;
    }


    @media screen and (max-width:420px) {
        .functionButtonEmail {
            padding: 5px 10px !important;
        }

        #angpaoContent {
            font-size: 12px !important;
        }
    }
    @media only screen and (max-width: 650px) and (min-width: 640px) {
        #livechatbtn {
            background-color: #25aae1;
            padding: 10px 25px 10px 25px;
            font-size: 18px;
            margin-left: 26%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtn {
            background-color: #33c85d;
            padding: 10px 25px 10px 25px;
            font-size: 18px;
            margin-right: 26%;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnTH {
            background-color: #25aae1;
            padding: 9px 15px 10px 15px;
            font-size: 16px;
            margin-left: 20%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtnTH {
            background-color: #33c85d;
            padding: 10px 15px 10px 15px;
            font-size: 16px;
            margin-right: 26%;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnVN {
            background-color: #25aae1;
            padding: 10px 3px 10px 3px;
            font-size: 16px;
            margin-left: 26%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtnVN {
            background-color: #33c85d;
            padding: 10px 12px 10px 12px;
            font-size: 16px;
            margin-right: 26%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtnEN {
            background-color: #33c85d;
            padding: 10px 25px 10px 25px;
            font-size: 15px;
            margin-right: 26%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmoredivID {
            margin-right: 26%;
        }

        #findoutmorebtnID {
            background-color: #33c85d;
            padding: 10px 0px 10px 0px;
            font-size: 15px;
            border-radius: 5px;
            color: white !important;
        }
        
        #livechatbtnID{
            padding: 24px 27px 24px 27px;
            font-size: 15px;
            margin-left: 26%;
            border-radius: 5px;
            color: white !important;
            position: relative;
            top: 10px;
        }

        #livechatbtnEN {
            background-color: #25aae1;
            padding: 10px 25px 10px 25px;
            font-size: 15px;
            margin-left: 26%;
            border-radius: 5px;
            color: white !important;
        }
    }
    @media only screen and (max-width: 639px) and (min-width: 421px) {
        #livechatbtn {
            background-color: #25aae1;
            padding: 5px 30px 5px 30px;
            font-size: 15px;
            margin-left: 5%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtn {
            background-color: #33c85d;
            padding: 5px 30px 5px 30px;
            font-size: 15px;
            margin-right: 5%;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnTH {
            background-color: #25aae1;
            padding: 10px 15px 10px 15px;
            font-size: 15px;
            margin-left: 10%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtnTH {
            background-color: #33c85d;
            padding: 10px 25px 10px 25px;
            font-size: 15px;
            margin-right: 10%;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnVN {
            background-color: #25aae1;
            padding: 10px 3px 10px 3px;
            font-size: 15px;
            margin-left: 20%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtnVN {
            background-color: #33c85d;
            padding: 10px 12px 10px 12px;
            font-size: 15px;
            margin-right: 20%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtnEN {
            background-color: #33c85d;
            padding: 10px 30px 10px 30px;
            font-size: 15px;
            margin-right: 10%;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmoredivID {
            margin-right: 23%;
        }

        #findoutmorebtnID {
            background-color: #33c85d;
            padding: 5px 3px 5px 3px;;
            font-size: 15px;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnID{
            background-color: #25aae1;
            padding: 14px 35px 20px 35px;
            font-size: 15px;
            margin-left: 10%;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnEN {
            background-color: #25aae1;
            padding: 10px 35px 10px 35px;
            font-size: 15px;
            margin-left: 10%;
            border-radius: 5px;
            color: white !important;
        }
    }
    @media only screen and (max-width: 420px) {
        .modal-wrapper.small {
            width: 320px!important;
            max-width: 320px!important;
        }

        #livechatbtn {
            background-color: #25aae1;
            padding: 5px 25px 5px 25px;
            font-size: 15px;
            margin-left: 0!important;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtn {
            background-color: #33c85d;
            padding: 5px 25px 5px 25px;
            font-size: 15px;
            margin-right: 0!important;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnTH {
            background-color: #25aae1;
            padding: 5px 8px 5px 8px;
            font-size: 13px;
            margin-left: 0!important;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtnTH {
            background-color: #33c85d;
            padding: 5px 15px 5px 15px;
            font-size: 13px;
            margin-right: 0!important;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnVN {
            background-color: #25aae1;
            padding: 5px 2px 5px 2px;
            font-size: 13px;
            margin-left: 0!important;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmorebtnVN {
            background-color: #33c85d;
            padding: 5px 10px 5px 10px;
            font-size: 13px;
            margin-right: 0!important;
            border-radius: 5px;
            color: white !important;

        }

        #findoutmorebtnEN {
            background-color: #33c85d;
            padding: 5px 20px 5px 20px;
            font-size: 15px;
            margin-right: 0;
            border-radius: 5px;
            color: white !important;
        }

        #findoutmoredivID {
            margin-right: 0!important;
        }

        #findoutmorebtnID {
            background-color: #33c85d;
            padding: 7px 13px 7px 13px;
            font-size: 15px;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnID {
            background-color: #25aae1;
            padding: 14px 30px 25px 30px;
            font-size: 15px;
            margin-left: 0;
            border-radius: 5px;
            color: white !important;
        }

        #livechatbtnEN {
            background-color: #25aae1;
            padding: 5px 25px 5px 25px;
            font-size: 15px;
            margin-left: 0;
            border-radius: 5px;
            color: white !important;
        }
    }

    #divPromo {
           position:fixed;
           bottom:10%;
           z-index:6;
        
        }

        #divPromo ul {
            list-style : none;
            margin-left:unset;
        }

        #divPromo .clearfix {
            display:inline-block;
        }
      

        #giflist li {
          display: block;
          float: left;
          margin-right: 35px;
          margin-bottom: 40px;
          z-index:5;
        }

        .staticPromo {
                width: 88px;
            }
        /*.divAngpao {
            position: fixed;
            z-index: 5;            
            cursor: pointer;            
            right:50px;
            bottom: 5%;            
        }
        .staticAngpao {
                width: 135px;
            }
        .closeGifAngpaoBtn {
            margin: auto;
            width: 25px;
            height: 30px;
            cursor: pointer;
            background: url('https://www.enhuoyea11.net//Assets/Images/Songkran/close_button.svg') no-repeat;
        }

        .closeRainingAngpaoBtn {
            right: 35px;
            width: 25px;
            height: 30px;
            cursor: pointer;
            background: url('https://www.enhuoyea11.net//Assets/Images/Songkran/close_button.svg') no-repeat;
            z-index:99;
        }

        .rainingAP {
            
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            text-align: center;
            display: none;
        }

        .divRainingAP {
          position: fixed;
            top: 50px;
            right: 35px;
            text-align: center;
            display: none;
            z-index:9999;
        }*/


        body {
            width: 100%;
            height: 100%;
           
        }

        .lazyloading {
            background-image: url(../../../../www.enhuoyea11.net/Assets/images/General/loading.gif);
        }

        .icon-notification-announcement {
            color: #33c85d;
        }

        .mobile-bank-status-bank-image {
            background-image: url(../../../../www.enhuoyea11.net/Assets/images/homecontrol/bankstatus/fun88-BankStatus-All-icons-Sprite.jpg);
            background-repeat: no-repeat;
        }

        .FooterIcon {
            background-image: none;
        }

        .footer-social-media {
            background-image: none;
        }

        .footer-partner {
            background-image: none;
        }

        .flag-icons {
            background-image: url(../../../../www.enhuoyea11.net/Assets/images/footer/flag-icons.png);
        }

        .couten {
            /*width: 100%;
          height: 100%;
            position:absolute;*/
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 98;
            text-align: center;
            display:none;
        }

            .couten li {
                position: absolute;
                animation: all 3s linear;
                top: -100px;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                list-style: none;
                z-index: 9999;
            }

                .couten li a {
                    display: block;
                }

        .backward {
            width: 100%;
            background: #ccc;
            opacity: 0.5;
            position: absolute;
            top: 0;
        }

            .backward span {
                display: inline-block;
                width: 100px;
                height: 100px;
                color: #000;
                font-weight: bold;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                text-align: center;
                line-height: 100px;
                font-size: 1000%;
            }
        #clickMe {
            color:black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            padding: 3px 3px 3px 3px;
            border-radius: 5px;
        }

        #MoreNotification > tbody{
            background-color:#e6e6e6;
            border:none;
        }

        #MoreNotification > tbody > tr > td{
            background-color:transparent;
            width:100%;
            text-align:center;
        }

        #MoreNotification > tbody > tr > td > div{
            color: #3f97ff;
            padding: 20px 0;
            font-weight: bolder;
        }

        @media only screen and (max-width: 400px) {
            .staticPromo {
                top: 20%;
                width: 66px !important;
            }
        }

        @media only screen and (min-width: 401px) and (max-width: 680px) {
            .staticPromo {
                width: 66px !important;
            }
        }

        @media screen and (min-width:20em) and (max-width: 64em) {
            .divAngpao {            
                cursor: pointer;            
                right:20px;
                bottom: 10%;      
                top:unset;  
                width:80px;
            }
            #clickMe {
                color:black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;                
            background-color: white;
            }
        }